.super-fel {
    display: block;
    float: left;
    background-color: white;
    width: calc(100% - 160px);
}
.super-fel-wrap {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
.super-fel .super-fel-wrap .super-columns,
.super-fel .super-fel-wrap .super-entries,
.super-fel .super-fel-wrap .super-entries .super-entry {
    width: 100%;
    display: block;
    float: left;
    width: auto;
    white-space: nowrap;
    min-width: 100%;
}
.super-fel .super-fel-wrap .super-col-wrap,
.super-fel .super-fel-wrap .super-entries .super-entry .super-col {
    float: none;
    display: inline-block;
    vertical-align: top;
}

.super-fel * {
  width:100%;
  position:relative;
  float:left;
  font-family:'Arial';
  font-size:16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
.super-fel .super-header {
  border-bottom:1px solid #aaa;
  margin-bottom:20px;
}
.super-fel .super-header .super-select-all,
.super-fel .super-header .super-csv-export,
.super-fel .super-header .super-settings {
  float:left;
  width:auto;
  padding:5px 10px 5px 40px;
}
.super-fel .super-header .super-csv-export,
.super-fel .super-header .super-settings {
  float:right;
  padding:5px 10px 5px 10px;
}
.super-fel .super-header .super-select-all:before,
.super-entry .super-col.super-check:before {
  content:'';
  border:1px solid #aaa;
  width:20px;
  height:20px;
  display:block;
  position:absolute;
  left:9px;
  top:9px;
  border-radius:3px;
}
.super-fel .super-columns {
  padding-left:40px;
  margin-bottom:15px;
  min-width: 100%;
}





.super-fel .super-col-wrap {
  width: 150px;
  margin-right: 20px;
}
.super-col-wrap .super-col-name {
  font-weight:600;
  width:100%;
}
.super-col-sort {
  position:absolute;
  right:0px;
  top:0px;
  width: 20px;
  text-align:center;
}
.super-col-sort .super-sort-up,
.super-col-sort .super-sort-down {
  float:left;
  width: 50%;
  color:#646464;
  cursor: pointer;
}
.super-col-sort .super-sort-up:hover,
.super-col-sort .super-sort-down:hover {
  background-color:#e2e2e2;
}
.super-col-filter {
  clear:both;
}
.super-col-filter .super-search {
  width:30px;
  height:30px;
  position:absolute;
  right:0px;
  top:0px;
  text-align:center;
  padding: 1px 0px 0px 0px;
  cursor: pointer;
  color: #d4d4d4;
}
.super-col-filter .super-search:hover {
  color:#828282;
}
.super-col-filter .super-search:after {
  content:'\f002';
  font-family: 'Font Awesome 5 Free';
  font-weight:900;
}
.super-col-filter input,
.super-col-filter select,
.super-fel .super-pagination input,
.super-fel .super-pagination select {
  height:30px;
  font-size:12px;
  border:1px solid #aaa;
  border-radius:3px;
  color:#8C8C8C;
  padding:0px 10px 0px 10px;
}
.super-entry {
  padding:10px 0px 10px 0px;
  background-color:#fff;
  color: #8c8c8c;
}
.super-entries > .super-entry:nth-of-type(odd) {
  background-color: #F8F8F8;
}
.super-entry:hover,
.super-entry:hover:nth-of-type(odd) {
  color: #333333;
  background-color:#fffbe0;
}

.super-entry * {
  font-size:13px;
}
.super-entry .super-col {
  width: 150px;
  margin-right: 20px;
  min-height: 20px;
}
.super-entry .super-entry-status {
    color: white;
    background-color: #808080;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: default;
    width:auto;
    padding:0px 10px 0px 10px;
}
.super-entry .super-col.super-check {
  width:40px;
  height:25px;
  margin-right:0;
}
.super-entry .super-col.super-check:before {
  top:2px;
}
.super-fel .super-pagination {
  padding-top:10px;
}
.super-fel .super-pagination > * {
  width:auto;
  float:right;
}
.super-fel .super-pagination .super-pages,
.super-fel .super-pagination .super-results {
  margin-right:10px;
}
.super-nav .super-page,
.super-pagination .super-prev,
.super-pagination .super-next {
  display:inline-block;
  float:left;
  width:auto;
  min-width:25px;
  padding: 0px 7px 0px 7px;
  text-align:center;
  cursor:pointer;
  margin: 4px 2px 4px 2px;
  border:1px solid #fff;
  border-radius:3px;
  text-decoration: none!important;
  font-size: 12px;
  color: #a5a5a5;
}
.super-pagination .super-prev,
.super-pagination .super-next {
  float:right;
  color: #4c4c4c;
}
.super-pagination .super-prev {
  margin: 4px 2px 4px 25px;
}
.super-pagination .super-next {
  margin: 4px 25px 4px 2px;
}

.super-pagination .super-prev:before,
.super-pagination .super-next:before {
  content:'\f053';
  font-family:'Font Awesome 5 Free';
  font-weight:900;
  font-size: 12px;
}
.super-pagination .super-next:before {
  content:'\f054';
}



.super-nav .super-page:hover,
.super-pagination .super-prev:hover,
.super-pagination .super-next:hover {
  border:1px solid #aaa;
}
.super-nav .super-page.super-active {
  border: 1px solid #4c4c4c;
  padding: 2px 13px 1px 13px;
  margin: 0px 2px 0px 2px;
  font-size: 14px;
  color: #4c4c4c;
}

.super-fel .super-actions {
  float: none;
  display: inline-block;
  vertical-align: top;
  width:auto;
  margin-right: 0px;
  font-size: 12px;
  width: 85px;
}
.super-fel .super-columns .super-actions {
  visibility:hidden;
}
.super-fel .super-actions .super-edit,
.super-fel .super-actions .super-view,
.super-fel .super-actions .super-delete {
  text-decoration:none;
  display:inline-block;
  width:25px;
  height:25px;
  text-align:center;
  padding:0px 0px 0px 0px;
  cursor:pointer;
  color:#cecece;
}
.super-fel .super-actions .super-edit:hover {
  color:#15c130;
}
.super-fel .super-actions .super-view:hover {
  color:#18a7e8;
}
.super-fel .super-actions .super-delete:hover {
  color:#ff0000;
}
.super-fel .super-actions .super-edit:after,
.super-fel .super-actions .super-view:after,
.super-fel .super-actions .super-delete:after {
  content:'\f303';
  font-family:'Font Awesome 5 Free';
  font-weight:900;
  font-size: 12px;
}
.super-fel .super-actions .super-view:after {
  content:'\f06e';
}
.super-fel .super-actions .super-delete:after {
  content:'\f1f8';
}

.super-fel-modal {
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  z-index: 999999;
  padding: 50px 20px 20px 20px;
}
.super-fel-modal .super-close {
  width:25px;
  height:25px;
  position:absolute;
  right:25px;
  top:10px;
  text-align:center;
  border: 1px solid #dadada;
  background-color: #ececec;
  color: #bdbdbd;
  cursor:pointer;
}
.super-fel-modal .super-close:hover {
  border: 1px solid #b1b1b1;
  background-color: #ececec;
  color: #909090;
}

.super-fel-modal .super-close:after {
  content:'\f00d';
  font-family:'Font Awesome 5 Free';
  font-weight: 900;
}
.super-fel-modal:after,
.super-fel-modal:before {
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background-color:#ffffff;
  z-index: -1;
}
.super-fel-modal:after {
  position:fixed;
  background-color:#0000003d;
  z-index: -2;
}

