.super-addons {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
}

.super-addons h1 {
    flex-basis: 100%;
    margin: 0px 0px 40px 20px;
    line-height: normal;
}

.super-addon {
    padding: 20px 20px 20px 20px;
    margin: 0px 20px 20px 20px;
    background-color: white;
    border-radius: 5px;
    width: 20%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.super-addon-title {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 20px 10px 0px;
}

.super-addon-price {
    color: green;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 20px 10px 0px;
}

.super-addon-desc {
    padding: 0px 20px 10px 0px;
}

.super-addon-desc ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.super-addon-desc ul li {
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: 1px solid #eee;
}

.super-addon-desc ul li:before {
    content: '✔';
    padding-right: 5px;
}

.super-activate-addon,
.super-purchase-addon {
    background-color: #0082bf;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 15px 0px 0px 0px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.super-activate-addon:hover {
    background-color: #0074ab;
}

.super-purchase-addon {
    background-color: #82B440;
}

.super-purchase-addon:hover {
    background-color: #709c37;
    color: white;
}

.super-loader {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
    animation: SpinnerAnimationShow .25s normal ease, SpinnerAnimationRotation .7s linear infinite;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transform-origin: 50% 50%;
}

.super-loader > ellipse {
    fill: transparent;
    stroke: #8792a2;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-dasharray: 60;
    stroke-dashoffset: 20
}

@keyframes SpinnerAnimationShow {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes SpinnerAnimationRotation {
    0% {
        transform: scaleX(-1) rotate(0)
    }

    50% {
        transform: scaleX(-1) rotate(-180deg)
    }

    to {
        transform: scaleX(-1) rotate(-1turn)
    }
}

@keyframes SpinnerAnimationShowLoading {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes SpinnerAnimationRotationLoading {
    100% {
        transform: rotate(360deg);
    }
}