
.super-shortcode-tabs_pre:before,
.super-shortcode-accordion_pre:before {
  content:'NEW'!important;
  line-height:normal;
  position:absolute;
  right:-6px;
  top:10px;
  display:block!important;
  background-color:red;
  font-size:9px!important;
  text-transform:initial!important;
  color:white;
  padding-left:15px;
  padding:2px 5px 2px 14px;
  font-weight:bold;
}
.super-shortcode-tabs_pre:after,
.super-shortcode-accordion_pre:after {
  content:'';
  position:absolute;
  right:26px;
  top:9px;
  display:block!important;
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #E9E9E9;  
}

#wpbody-content > .updated,
#wpbody-content > .error,
#wpbody-content > .notice,
#wpbody-content > * {
    display:none;
}
.super-tab-translations .super-dropdown-search input::-webkit-input-placeholder,
.super-form-settings .field input::-webkit-input-placeholder,
.super-form-settings .field textarea::-webkit-input-placeholder,
.super-element-settings .field input::-webkit-input-placeholder,
.super-element-settings .field textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:#A1A1A1;
}
.super-tab-translations .super-dropdown-search input:-moz-placeholder,
.super-form-settings .field input:-moz-placeholder,
.super-form-settings .field textarea:-moz-placeholder,
.super-element-settings .field input:-moz-placeholder,
.super-element-settings .field textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#A1A1A1;
    opacity:1;
}
.super-tab-translations .super-dropdown-search input::-moz-placeholder,
.super-form-settings .field input::-moz-placeholder,
.super-form-settings .field textarea::-moz-placeholder,
.super-element-settings .field input::-moz-placeholder,
.super-element-settings .field textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#A1A1A1;
    opacity:1;
}
.super-tab-translations .super-dropdown-search input:-ms-input-placeholder,
.super-form-settings .field input:-ms-input-placeholder,
.super-form-settings .field textarea:-ms-input-placeholder,
.super-element-settings .field input:-ms-input-placeholder,
.super-element-settings .field textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#A1A1A1;
}
.super-elements .super-element h3 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.super-create-form {
    float: left;
    width: 100%;
    margin-top: 10px;
    padding-right: 10px;
    display: block!important;
    direction: ltr;
}

/* @since 2.9.0 - form setup wizard */
.super-create-form .super-first-time-setup {
    position: fixed;
    z-index: 12;
    background-color: white;
    width: 960px;
    margin-left: -400px;
    margin-top: -250px;
    top: 50%;
    left: 50%;
    height: 500px;
    max-height: 100%;
    box-shadow: 3px 3px 32px -6px #000000;
    -webkit-box-shadow: 3px 3px 32px -6px #000000;
    -moz-box-shadow: 3px 3px 32px -6px #000000;
    -o-box-shadow: 3px 3px 32px -6px #000000;
    border-bottom: 75px solid #fbfbfb;
    display:none;
}
.super-create-form .super-backup-history {
    width:480px;
    margin-left: -200px;
    margin-top: -200px;
    height: auto;
}
.super-create-form .super-first-time-setup-bg {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display:none;
}
.super-create-form .super-first-time-setup.super-active,
.super-create-form .super-first-time-setup-bg.super-active {
    display:block;
}
.super-wizard-settings,
.super-wizard-preview {
    width: 480px;
    float:left;
    background-color: #fbfbfb;
    height: 100%;
    padding: 10px 25px 0px 25px;
    border-bottom: 1px solid #dadada;
}
.super-wizard-backup-history {
    padding-bottom:20px;
    padding: 10px 0px 0px 0px;
    background-color: white;
}
.super-wizard-backup-history h2,
.super-wizard-backup-history i {
    padding-left:25px;
}
.super-wizard-backup-history i {
    color:#b5b5b5;
    padding: 0px 0px 25px 25px;
    display: inline-block;
}
.super-backup-history.super-loading h2:after {
    content: '\f1ce';
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    color: #dcdcdc;
}
.super-backup-history.super-loading h2:after {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
.super-wizard-backup-history > ul {
    float:left;
    max-height: 200px;
    overflow-y:auto;
    width: 100%;
}
.super-wizard-backup-history > ul > li {
    float:left;
    border-bottom: 1px solid #e0e0e0;
    width:100%;
    margin: 0;
    height:33px;
    padding: 5px 25px 5px 25px;
}
.super-wizard-backup-history > ul > li > i {
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}
.super-wizard-backup-history > ul > li > i:hover {
    color:#f5234b;
}
.super-wizard-backup-history > ul > li > i:before {
    font-style:normal;
    content: '\f1f8';
}
.super-wizard-backup-history > ul > li:last-child {
    border:0;
}
.super-wizard-backup-history > ul > li:hover {
    background-color:#efefef;
}
.super-wizard-backup-history > ul > li > span {
    float:right;
    padding: 0px 10px!important;
    height: 22px!important;
    line-height: 22px!important;
    margin-right: 0px;
    display:none;
}
.super-wizard-backup-history > ul > li:hover > span {
    display:block;
}
.super-wizard-backup-history > ul > li > span:before {
    content: '\f1da';
    padding: 0px 5px 0px 0px;
}
.super-wizard-settings > .super-tabs {
    float:left;
    width:100%;
    margin: 0;
}
.super-wizard-settings > .super-tabs li {
    border:1px solid #d4d4d4;
    background-color:#efefef;
    float:left;
    padding: 5px 12px 5px 12px;
    margin:0px 0px 0px -1px;
    font-size: 11px;
    cursor: pointer;
}
.super-wizard-settings > .super-tabs li.super-active {
    background-color:white;
}
.super-wizard-settings > .super-tab-content {
    float:left;
    width:100%;
}
.super-wizard-settings > .super-tab-content > li {
    display:none;
}
.super-wizard-settings > .super-tab-content > li.super-active {
    display:block;
}

.super-wizard-settings > .super-tab-content > li > div {
    float:left;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 0px 0px 5px 0px;
    margin-bottom: 5px;
}
.super-wizard-settings > .super-tab-content > li > div > span {
    display:block;
    float:left;
    width: 120px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
.super-wizard-settings > .super-tab-content > li > div > input,
.super-wizard-settings > .super-tab-content > li > div > textarea {
    display:block;
    float:right;
    width: 305px;
    height: 24px;
    font-size: 12px;
}
.super-wizard-settings > .super-tab-content > li > div > textarea {
    height:auto;
}
.super-wizard-settings > .super-tab-content > li > div > p {
    float:right;
    width:100%;
    font-size:12px;
    margin:0px 0px 10px 0px;
    width:305px;
}
.super-wizard-settings > .super-tab-content > li > div > ul {
    float:right;
    width: 305px;
    margin: 5px 0px 5px 0px;
}
.super-wizard-settings > .super-tab-content > li > div > ul > li {
    float:left;
    font-size:10px;
    width:auto;
    padding: 0px 10px;
    margin: 0px 10px 0px 0px;
    text-align:center;
}
.super-wizard-settings > .super-tab-content > li > div > ul.super-theme-style-wizard > li {
    border:1px solid #cacaca;
    cursor:pointer;
}
.super-wizard-settings > .super-tab-content > li > div > ul.super-theme-style-wizard > li[data-value^="rounded"] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.super-wizard-settings > .super-tab-content > li > div > ul.super-theme-style-wizard > li[data-value^="full-rounded"] {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}
.super-wizard-settings > .super-tab-content > li > div > ul.super-theme-style-wizard > li[data-value^="minimal"] {
    border:0;
    border-bottom:1px solid #cacaca;
}

.super-wizard-settings > .super-tab-content > li > div > ul.super-field-size-wizard > li {
    border:1px solid #cacaca;
    cursor:pointer;
    margin:6px 0px 0px 0px;
}
.super-wizard-settings > .super-tab-content > li > div > ul.super-field-size-wizard > li[data-value^="large"] {
    padding:3px 25px;
    margin:3px 0px 0px 10px;
}
.super-wizard-settings > .super-tab-content > li > div > ul.super-field-size-wizard > li[data-value^="huge"] {
    padding:6px 40px;
    margin:0px 0px 0px 10px;
}


.super-wizard-settings > .super-tab-content > li > div > ul.super-theme-hide-icons-wizard > li {
    border:1px solid #cacaca;
    cursor:pointer;
    margin:6px 10px 0px 0px;
    position:relative;
}
.super-wizard-settings > .super-tab-content > li > div > ul.super-theme-hide-icons-wizard > li[data-value^="yes"] {
    margin-left:35px;
    width:60px;
}
.super-wizard-settings > .super-tab-content > li > div > ul.super-theme-hide-icons-wizard > li[data-value^="yes"]:before,
.super-wizard-settings > .super-tab-content > li > div > ul.super-theme-hide-icons-wizard > li[data-value^="yes"]:after {
    border:1px solid #cacaca;
    content:'';
    width:18px;
    height:18px;
    display:block;
    position:absolute;
    left:-25px;
    top:-1px;
}
.super-wizard-settings > .super-tab-content > li > div > ul.super-theme-hide-icons-wizard > li[data-value^="yes"]:after {
    content:'\f007';
}
.super-wizard-settings > .super-tab-content > li > div > ul > li.super-active {
    border-color:#49B4B6;
    color:#49B4B6;
}
.super-wizard-preview {
    border-left: 3px dashed #dadada;
    padding-left: 25px;
    overflow-y: auto;
    background: none;
    width: 480px;
}
.super-first-time-setup .super-button.skip-wizard {
    position:absolute;
    left:25px;
    bottom: -50px;
}
.super-first-time-setup .super-button.delete-backups {
    position: absolute;
    right: 25px;
    bottom: -50px;
    background-color: #F5234B;   
}  
.super-first-time-setup .super-button.save-wizard {
    position:absolute;
    right:25px;
    bottom: -50px;
}
.super-create-form.sticky {
    margin-top:50px;
}
.super-create-form.sticky .super-header {
    position:fixed;
    top:40px;
    right:10px;
    z-index: 999;
    border:0;
}
.super-create-form.sticky .super-header > * {
    display:none;
}
.super-create-form.sticky .super-header .super-actions {
    display:block;
}
.super-wrapper {
    float: left;
    width: 100%;
}
.super-header {
    float: left;
    width: 100%;
    padding: 0px 0px 5px 0px;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}
.super-header .form-name {
    float: left;
    display: block;
    font-size: 12px;
    background-color: #49B4B6;
    border: 0px;
    padding: 0px 10px 0px 10px;
    color: white;
    height: 30px;
    line-height: 30px;
    margin: 0px 5px 0px 0px;
    position: relative;
    z-index: 5;
    width: 140px;
}
.super-header .super-get-form-shortcodes {
    padding: 0px 10px 0px 10px;
    height: 30px;
    background-color: white;
    font-family: Courier New;
    font-size: 11px;
    line-height: 30px;
    margin: 0px;
    float: left;
    text-align: center;
}
.super-header p {
    font-style: italic;
    float: left;
    margin: 0;
    padding: 0px 0px 0px 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    letter-spacing: -0.03rem;
}
.super-switch-forms {
    float: left;
    background-color: #49B4B6;
    height: 30px;
    width: 31px;
    color: white;
    text-align: center;
    border-right: 1px solid white;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    z-index: 6;
}
.super-switch-forms i {
    float: left;
    display: block;
    height: 30px;
    width: 30px!important;
    text-align: center;
    line-height: 29px;
    background-color: #49B4B6!important;
    color: white;
}
.super-switch-forms ul {
    position: absolute;
    left: 0px;
    top: 30px;
    display: none;
    margin: 0px;
    padding-bottom: 100px;
    z-index: 9999;
    height:300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #49B4B6;
}
.super-switch-forms ul li {
    float: left;
    margin: 0px;
}
.super-switch-forms ul li a {
    float: left;
    clear: both;
    text-align: left;
    width: 250px;
    padding: 0px 10px 0px 5px;
    margin: 0px 0px 0px 0px;
    border-top: 1px solid white;
    background-color: #5DD0D2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 11px;
    font-style: italic;
    color: white;
    text-decoration: none;
    line-height:22px;
    height:25px;
}
.super-switch-forms ul li a:hover {
    background-color: #49B4B6;
}
.super-header .super-actions {
    float: right;
    margin: 0px 0px 5px 0px;
}
.super-header .super-actions > label {
    clear:both;
    float: left;
    padding:10px 0px 5px 5px;
    font-size:12px;
    color:#797979;
}
.super-create-form.sticky .super-header .super-actions > label {
    display:none;
}
.super-header .super-actions > label > input {
    margin-right:10px;
}
.super-header .super-actions span {
    height: 30px;
    display:inline-block;
    line-height: 30px;
    padding: 0px 15px 0px 45px;
    margin-left: 5px;
    background-color: red;
    color: white;
    position: relative;
    float: left;
    vertical-align: top;
    min-width: 30px;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    clear: inherit;
}
.super-header .super-actions span:hover {
    opacity:0.7;
}
.super-header .super-actions span i {
    border-right: 1px solid white;
    width: 30px;
    height: 30px;
    text-align:center;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 30px;
}
.super-header .super-actions span.preview {
    padding: 0px 10px 0px 10px;
    margin-left: 1px;
}
.super-header .super-actions span.preview > i {
    border:0px;
}
.super-header .super-actions span.save {
    background-color: #69BA00;
}
.super-header .super-actions span.clear {
    background-color: #7F7F7F;
}
.super-header .super-actions span.delete {
    background-color: #F5234B;
    margin-right: 5px;
}
.super-header .super-actions span.preview {
    background-color: #2372F5;
}
.super-header .super-actions span.preview.active {
    background-color: #75A2EC;
}
.super-builder {
    float:left;
    width:100%;
    position: relative;
    z-index: 1;
}
.super-preview {
    float: left;
    clear: both;
    width: 70%;
    position: relative;
    z-index: 3;
}
.super-form-history {
    float: right;
}
.super-preview .super-undo,
.super-preview .super-redo,
.super-preview .super-backups,
.super-preview .super-minimize-toggle,
.super-preview .super-maximize-toggle,
.super-builder .super-tabs > span {
    float:right;
    background-color:#ffffff;
    color:#bbbbbb;
    display:inline-block;
    padding: 6px 10px 4px 15px;
    margin-left:5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor:pointer;
    text-align: center;
    font-size: 18px;
}

.super-preview .super-minimize-toggle {
    margin-left:25px;
}
.super-preview .super-undo.super-loading,
.super-preview .super-redo.super-loading {padding: 6px 12px 4px 13px;}
.super-preview .super-undo.super-loading:after,
.super-preview .super-redo.super-loading:after {
    content: '\f1ce';
    color:white;
}
.super-preview .super-undo.super-loading:before,
.super-preview .super-redo.super-loading:before {
    content: '\f1ce';
    text-align:center;
    color:#dcdcdc;
    position:absolute;
    width:10px;
    font-size: 17px;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
.super-preview .super-undo:hover,
.super-preview .super-redo:hover,
.super-preview .super-backups:hover {
    color:#868686;
}
.super-preview .super-undo:before,
.super-preview .super-redo:before,
.super-preview .super-backups:before,
.super-preview .super-minimize-toggle:before,
.super-preview .super-maximize-toggle:before {
    padding:0px 5px 0px 0px; 
} 
.super-preview .super-undo:before {
    content:'\f0e2';
    font-weight:900;
}
.super-preview .super-redo:before {
    content:'\f01e';
    font-weight:900;
}
.super-preview .super-backups:before {
    content:'\f1da';
    font-weight:900;
}
.super-preview .super-minimize-toggle:before {
    content:'\f146';
    font-weight:900;
}
.super-preview .super-maximize-toggle:before {
    content:'\f2d0';
}
.super-preview .super-redo.super-disabled:not(.super-loading),
.super-preview .super-undo.super-disabled:not(.super-loading) {
    background-color:#e6e6e6;
    color:#cccccc;
    cursor:default;
}
.super-preview .super-marketplace-notice {
    border: 2px dashed #ded367;
    float:left;
    padding: 20px 20px 20px 20px;
    margin:0px 0px 10px 0px;
    background-color: #fff8b2;
    color: #86804a;
    width: 100%;
}
.super-preview .super-marketplace-notice h2 {
    color: #86804a;
    margin: 0px 0px 0px 0px;
    font-size: 24px;
}
.super-preview-elements {
    margin: 0px 0px 0px 0px;
    padding: 10px;
    min-height: 190px;
    background: #fff;
    width: 100%;
    border-top: 0px;
    float: left;
}
.super-preview-elements .super-grid {
    margin: 0px
}
.super-preview-elements .super-field {
    display: block!important;
}
.super-translation-mode .super-preview-elements .super-field {
    margin:0px!important;
}
.super-preview-elements .super-field.grouped {
    padding: 0px 0px 0px 0px;
}

.super-preview-elements.super-transfering:after {
    content:'\f0ab';
    font-size:24px;
    text-align:center;
    padding:10px 0px 10px 0px;
    background-color:#69ba00;
    color:white;
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    display:block;
    cursor: pointer;
}
.super-preview-elements > * {
    visibility:inherit!important;
}
.super-preview-elements .ui-sortable-placeholder {
    visibility: visible!important;
    background-image: url("../../images/sortable-placeholder.png");
    border:1px solid white!important;
}
.super-preview-elements.drop-here-placeholder {
    background-image: url("../../images/drop-here.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 150px;
    border-bottom: 30px solid white;
}
.super-preview-elements.drop-here-placeholder.dropping-allowed {
    background-image: url("../../images/drop-here2.png");
}
.super-preview-elements.drop-here {
    background-image: url("../../images/drop-here.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.super-translation-mode .super-preview-elements.drop-here-placeholder,
.super-translation-mode .super-preview-elements.drop-here-placeholder.dropping-allowed,
.super-translation-mode .super-preview-elements.drop-here {
    background:none;
}
.super-preview-elements .super-element {
    width: 99%;
    position: relative;
    border: 1px dashed #CECECE;
    background-color: white;
    padding: 5px 5px 5px 5px;
    float: left;
    margin: 10px 0.5%;
    clear: initial;
    border-style: dashed;
}
.super-preview-elements .super-element.super-multipart {
    visibility:visible;
    height:auto;
    overflow:initial;
}
.super-preview-elements .super-element.super-multipart * {
    opacity:initial;
}
.super-preview-elements .super-element:hover {
    background-color: #F9F9F9;
    border: 1px solid #AFAFAF;
}
.super-preview-elements .super-element.error,
.super-preview-elements .super-element.super-minimized.error {
    background-color: #FFF7F7;
    border: 1px dashed #FF7D7D;
}
.super-preview-elements .super-element.editing {
    border: 1px solid #D8C88C;
    background-color: #FFF9E3;
}
.super-preview-elements .super-element.super_one_full {
    width: 99%;
}
.super-preview-elements .super-element.super_four_fifth {
    width: 79%;
}
.super-preview-elements .super-element.super_three_fourth {
    width: 74%;
}
.super-preview-elements .super-element.super_two_third {
    width: 65.6%;
}
.super-preview-elements .super-element.super_three_fifth {
    width: 59%;
}
.super-preview-elements .super-element.super_one_half {
    width: 49%;
}
.super-preview-elements .super-element.super_two_fifth {
    width: 39%;
}
.super-preview-elements .super-element.super_one_third {
    width: 32.3%;
}
.super-preview-elements .super-element.super_one_fourth {
    width: 24%;
}
.super-preview-elements .super-element.super_one_fifth {
    width: 19%;
}
.super-preview-elements .super-element > textarea {
    display:none;
}
.super-preview-elements .super-element .super-element-header {
    float:left;
    width:100%;
}
.super-preview-elements .super-element .super-element-header .super-element-label {
    display:inline-block;
    position:absolute;
    top:0px;
    left:50%;
    width:20%;
    margin-left:-10%;
    height:20px;
    margin-top:-10px;
    text-align:center;
    background-color: #49b4b6;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    min-width: 40px;
}
.super-preview-elements .super-element .super-element-header .super-element-label > span {
    padding: 0px 10px 0px 10px;
    visibility: hidden;
    height: 0px;
    display: inline-block;
    float: left;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.super-preview-elements .super-element .super-element-header .super-element-label > input {
    background-image: none!important;
    background: none;
    border: none;
    height: 19px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.super-preview-elements .super-element .super-element-header .super-title,
.super-preview-elements .super-element .super-element-header .resize {
    float: left;
    cursor: default;
    width: 100%;
}
.super-preview-elements .super-element .super-element-header .super-title {
    color: #AEAEAE;
    padding: 0px;
    font-size: 11px;
    line-height: 11px;
}
.super-translation-mode .super-preview-elements .super-element .super-element-header .super-title {
    display:none;
}

.super-preview-elements .super-element .super-element-header .super-title input {
    font-size:11px;
    padding:0px 0px 0px 5px;
    border: 1px dashed #929292;
    display: inline-block;
    width:auto;
    background-image: inherit;
    background-color: #ececec;
    color: #828282;
    box-shadow: inherit;
    min-width: 100px;
    max-width: 50%;
}
.super-preview-elements .super-element.super-minimized .super-element-header .super-title input {
    background-color:#eefeff;
    border:1px dashed #9fb7ff;
}
.super-preview-elements .super-element .super-element-header .resize {
    padding: 0px;
}
.super-preview-elements .super-element .super-element-header .resize span {
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.super-preview-elements .super-element .super-element-header .resize span i {
    line-height: 19px;
    font-size: 14px;
}    
.super-preview-elements .super-element .super-element-header .resize span.current {
    padding: 0px 0px 0px 0px;
    cursor: default;
    width: auto;
    background: none;
    height: auto;
    font-size: 11px;
    color: #AEAEAE;
}
.super-preview-elements .super-element .super-element-header .super-element-actions {
    padding: 0;
    margin-bottom: 5px;
    overflow: hidden;
    cursor: default;
    border-bottom: 1px dotted #AEAEAE;
    float: left;
    width: 100%;
}
.super-preview-elements .super-element .super-element-header .super-element-actions span {
    float: left;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    padding: 6px 6px 5px 6px;
    font-size: 12px;
    line-height: 12px;
}
.super-element-actions .transfer-drop {
    background-color:#69ba00;
    color:white;
    display:none;
}
.super-transfering .super-element-actions .transfer-drop {
    display:block;
}
.super-preview-elements .super-element .super-element-header .super-element-actions span.minimize,
.super-preview-elements .super-element .super-element-header .super-element-actions span.delete {
    float: right;
    padding: 4px 8px 3px 8px;
    position: absolute;
    right: 0px;
    top:0px;
}
.super-preview-elements .super-element .super-element-header .super-element-actions span.minimize {
    right: 20px;
    top:1px;
}
.super-preview-elements .super-element .super-element-inner {
    float: left;
    width: 100%;
}
.super-preview-elements .super-element.drop-here .super-dropable {
    background-image: url("../../images/drop-here.png");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center bottom;
    border-top: 0px;
    padding-bottom: 70px;
}
.super-preview-elements .super-element.drop-here .dropping-allowed {
    background-image: url("../../images/drop-here2.png");
}
.super-preview-elements .super-element.super-minimized {
    background-color: #EEFEFF;
    border: 1px dashed #9FB7FF;
}
.super-preview-elements .super-element.super-multipart.super-minimized > .super-element-inner,
.super-preview-elements .super-element.super-column.super-minimized > .super-element-inner {
    min-height: 30px;
    padding: 0px 0px 50px 0px;
    background-size: 50px;
}
.super-preview-elements .super-element.super-minimized > .super-element-inner > * {
    display: none!important;
}
.super-preview-elements .super-element.super-minimized > .super-element-inner > .ui-sortable-placeholder {
    display:block;
}

.super-live-preview {
    float:left;
    width:100%;
    margin: 0px 0px 0px 0px;
    padding: 20px 15px;
    min-height: 250px;
    background: #fff;
    border-top: 0px;
    display: none;
}
.super-create-form .super-live-preview {
    display: none;
}
.super-create-form .super-live-preview.mobile {
    max-width: 320px;
}
.super-create-form .super-live-preview.tablet {
    max-width: 768px;
}
.super-elements {
    float: left;
    width: 30%;
    position: relative;
    z-index: 3;
    padding-left: 10px;
    top: 0px;
}
.super-create-form.sticky .super-elements {
    position:fixed;
    right:10px;
    top: 80px;
}
.super-elements .super-element {
    float:left;
    width:100%;
    background: #fff;
}
.super-elements .super-element h3 {
    background-color: #49B4B6;
    color: white;
    margin: 0px;
    height: 30px;
    line-height: 28px;
    padding: 0px 0px 0px 40px;
    font-size: 12px;
    font-weight: 100;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.super-elements .super-element h3 i {
    border-right: 1px solid white;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
.super-elements .super-element .super-elements-container {
    padding: 10px;
    float: left;
    width: 100%;
    -webkit-transition: initial;
    -moz-transition: initial;
    transition: initial;
    display: none;
}
.super-elements .super-element .super-elements-container.super-loading {
    min-height:100px;
    display: block!important;
}
.super-preview-elements.super-loading {
    background:none;
}
.super-loading .super-elements-container {
    min-height:100px!important;    
}
.super-preview-elements.super-loading > *,
.super-loading .super-elements-container > * {
    display:none!important;
}
.super-preview-elements.super-loading:before,
.super-loading .super-elements-container:before,
.super-elements .super-element .super-elements-container.super-loading:before {
    content: '\f1ce';
    position:absolute;
    font-size:30px;
    text-align:center;
    left:50%;
    margin-left:-15px;
    margin-top:30px;
    z-index:1;
    color:#dcdcdc;
}
.super-preview-elements.super-loading:before,
.super-loading .super-elements-container:before,
.super-elements .super-element .super-elements-container.super-loading:before {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.super-elements .super-element.super-layout-elements .super-elements-container {
    display:block;
}
.super-elements .super-element.super-form-elements .super-elements-container {
    padding:5px;
}
.super-elements .super-element .super-elements-container .cancel-update {
    background-color: #7F7F7F;
    margin-left: 10px;
}
.super-element-settings-tabs,
.super-form-settings-tabs {
    width:100%;
    float:left;
}
.super-element-settings-tabs > select,
.super-form-settings-tabs > select,
.load-form-container > select {
    padding: 0px 10px 0px 10px;
    height: 28px;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    float: left;
    margin: 0px 0px 10px 0px;
    width: 100%;
    border: 2px solid #49B4B6;
}
.super-element-settings .tab-content,
.super-form-settings .tab-content {
    display: none;
    float: left;
    width: 100%;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.super-element-settings .tab-content.active,
.super-form-settings .tab-content.active {
    display: block;
}
.super-element-settings .field,
.super-form-settings .field {
    float: left;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0px;
    font-size: 17px;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
}
.super-element-settings .field-name,
.super-form-settings .field-name {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: black;
    float: left;
    width: 100%;
}
.super-element-settings .field-name > i,
.super-form-settings .field-name > i {
    font-weight: normal;
    font-style:normal;
    font-size: 12px;
}
.super-element-settings .info,
.super-form-settings .info {
    height:20px;
    padding: 0px 0px 0px 0px;
    font-style:normal;
    text-align:center;
    overflow: initial;
    display: inline-block;
    float: right;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    font-weight: 100;
    width: auto;
    z-index: 9999;
    position: absolute;
    top: 10px;
    right: 2px;
}
.super-element-settings .info:before,
.super-form-settings .info:before {
    content:'\f059';
}
.super-element-settings .field-label,
.super-form-settings .field-label {
    font-size: 10px;
    padding: 0px 0px 5px 0px;
}
.super-elements .super-button.reset-submission-counter,
.super-elements .super-button.reset-user-submission-counter {
    margin-top:5px;
    margin-bottom:20px;
}
.super-element-settings .field-input,
.super-form-settings .field-input {
    float: left;
    width: 100%;
}
.super-element-settings .field-input .super-checkbox,
.super-form-settings .field-input .super-checkbox {
    font-size:12px;
    float: left;
}
.super-element-settings .field-input .super-checkbox *,
.super-form-settings .field-input .super-checkbox * {
    float:left;
}
.super-element-settings .field-input .super-checkbox label,
.super-form-settings .field-input .super-checkbox label {
    width:100%;
    margin:0px 0px 5px 0px;
}
.super-element-settings .field-input .super-checkbox input,
.super-form-settings .field-input .super-checkbox input {
    width: 16px;
    height: 16px;
    margin:0px 5px 0px 0px;
}
.super-color-picker-container {
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.super-color-picker-container .super-color-picker {
    float: right;
    width: 100%;
}
.super-color-picker-container .super-color-picker .wp-picker-container .wp-picker-input-wrap > input {
    width: 50%;
    margin: 0px 0px 0px 0px;
}
.super-color-picker-container .wp-picker-input-wrap label {
    width: 50%;
}
.super-color-picker-container .super-color-picker-label {
    font-size: 10px;
    padding: 0px 0px 0px 0px;
}
.super-color-picker-container .wp-picker-container {
    position: relative;
    width: 100%;
}
.super-color-picker-container .wp-picker-container .wp-picker-open {
    margin-bottom: 230px;
}
.super-color-picker-container .wp-picker-container .wp-picker-holder {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 35px;
}
.super-color-picker-container .wp-picker-container .wp-picker-holder .iris-picker {
    padding: 0px 0px 0px 0px;
    background-color: white;
    border: 0px;
    height: 160px!important;
}
.super-color-picker-container .wp-picker-container .wp-picker-holder .iris-picker .iris-picker-inner {
    top: 30px;
    left: 0px;
}
.super-color-picker-container .wp-picker-container .wp-picker-holder .iris-picker .iris-square {
    width:140px!important;
    height:140px!important;
    margin-right: 5px;
}
.super-color-picker-container .wp-picker-container .wp-picker-holder .iris-picker .iris-slider {
    height:140px!important;
} 
.super-color-picker-container .wp-picker-container .wp-picker-holder .iris-picker .iris-palette-container {
    bottom:0px;
    left:0px;
}
.super-color-picker-container .wp-picker-container .wp-picker-holder .iris-picker .iris-palette-container > * {
    padding:0px;
    margin:0px;
    width: 20px!important;
    height: 20px!important;
}
.super-color-picker-container .wp-picker-container .wp-picker-input-wrap {
    position: absolute;
    z-index: 11;
    left: 10px;
    top: 40px;
    width: 182px;
}
.super-element-settings .field-input .super-icon-field .super-icon-list {
    margin:5px 0px 0px 4px;
}
.super-element-settings .field-input .super-icon-field .super-icon-list i {
    border: 1px solid #D8D8D8;
    display:inline-block;
    width:26px;
    height:25px;
    text-align:center;
    font-size:14px;
    line-height:22px;
    margin:0px 2px 2px 0px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.super-element-settings .field-input .super-icon-field .super-icon-list i:hover {
    border: 1px solid #636363;
}
.super-element-settings .field-input .super-icon-field .super-icon-list i.active,
.super-element-settings .field-input .super-icon-field .super-icon-list i.active:hover {
    border: 1px solid #0073AA;
    background-color: #0073AA;
    color:white;
}
.super-element-settings .field-input > textarea {
    font-size:12px;
}
.super-element-settings .field-input > textarea.multi-items-json {
    display:none;
}
.super-element-settings .field-input .super-multi-items {
    float:left;
    width:100%;
    border: 1px solid #E0E0E0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F9F9F9;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    min-height: 60px;
}
.super-element-settings .field-input .super-multi-items.address-auto-popuplate-item {
    min-height:auto;
}
.super-element-settings .field-input .super-multi-items.address-auto-popuplate-item > strong {
    width:100px;
    max-width: 33%;
}
.super-element-settings .field-input .super-multi-items.address-auto-popuplate-item * {
    width: 33%;
}
.super-element-settings .field-input .super-multi-items > p {
    width:100%;
    text-align:left!important;
    margin:0px 0px 0px 0px!important;
    padding:0px 0px 0px 0px;
}
.super-element-settings .field-input .super-multi-items > .image-field {
    width: auto;
    height: auto;
    text-align:center;
    font-size:14px;
    cursor:pointer;
    color: #B1B1B1;
    margin: 1px 0px 0px 23px;
    clear: left;
}
.super-element-settings .field-input .super-multi-items > .image-field .image-preview {
    width: auto;
    padding: 0px 0px 0px 0px;
    margin: 4px 0px 0px 0px;
}
.super-element-settings .field-input .super-multi-items > .image-field .image-preview .delete {
    float:left;
    clear: initial;
    padding: 0;
    margin: 0;
    width: 100%;
}
.super-element-settings .field-input .super-multi-items > .image-field .image-preview input[name="max_width"],
.super-element-settings .field-input .super-multi-items > .image-field .image-preview input[name="max_height"] {
    float:left;
    width:50px;
    margin: 5px 5px 0px 5px;
}
.super-element-settings .field-input .super-multi-items > .image-field .image-preview li > span {
    float:left;
    margin-top: 4px;
}
.super-element-settings .field-input .super-multi-items > .image-field .image-preview .image {
    overflow:hidden;
    padding: 5px 0px 0px 0px;
    max-width: 36px;
    float: left;
    margin-left: 5px;
}
.super-element-settings .field-input .super-multi-items > .image-field .image-preview .image img {
    max-height: 37px;
    max-width: 37px;
    margin: 0px;
    padding: 0px;
}
.super-element-settings .field-input .super-multi-items > .image-field > span {
    height: 20px;
    width: 25px;
    line-height: 19px;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    float: left;
    color: #A2A2A2;
}
.super-element-settings .field-input .super-multi-items > .image-field > span:hover {
    color: #4E4E4E;
}
.super-element-settings .field-input .super-multi-items > * {
    width: 25%;
    float:left;
    height: 20px;
    line-height: 20px;
    margin:0px;
    font-size: 11px;
    padding: 0px;
    margin-right:-1px;
    margin-bottom:-1px;
}
.super-element-settings .super-multi-items.super-dropdown-item input {
    width:40%;
}
.super-element-settings .field-input .super-multi-items > select[name="conditional_field"],
.super-element-settings .field-input .super-multi-items > select[name="conditional_field_and"] {
    width:70px;
}
.super-element-settings .field-input .super-multi-items > select[name="conditional_logic"],
.super-element-settings .field-input .super-multi-items > select[name="conditional_logic_and"] {
    width: 9%;
}
.super-element-settings .field-input .super-multi-items > input[name="conditional_value"],
.super-element-settings .field-input .super-multi-items > input[name="conditional_value_and"] {
    width: 12%;
}
.super-element-settings .field-input .super-multi-items > select[name="conditional_and_method"] {
    width: 8%;
}
.super-element-settings .field-input .super-multi-items > span.line-break {
    width:100%;
    border-top: 1px dashed #E0E0E0;
    margin-top:5px;
    height:7px;
}
.super-element-settings .field-input .super-multi-items > .sorting .up,
.super-element-settings .field-input .super-multi-items > .sorting .down {
    display: block;
    float: left;
    text-align: center;
    width: 100%;
    height: 15px;
}
.super-element-settings .field-input .super-multi-items > textarea {
    width:70px;
    margin-right:10px;
    padding:0px 0px 0px 5px;
}
.super-element-settings .field-input .super-multi-items > i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align:center;
    padding:0px;
    font-size:14px;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    right: 4px;
    top: 4px;
}
.super-element-settings .field-input .super-multi-items > i.add {
    margin-left: 1%;
    right: 4px;
    bottom: 3px;
    top: inherit;
}
.super-element-settings .field-input .super-multi-items:not(:first-child) > i.delete {
    visibility:visible!important;
}
.super-element-settings .field-input .super-multi-items > i:hover {
    opacity:1;
}
.super-element-settings .field-input .super-multi-items .sorting {
    display: inline-block;
    float: left;
    height: 35px;
    width: 27px;
    margin-top: -3px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.super-element-settings .field-input .super-multi-items .sorting span i {
    height: 15px;
    line-height: 15px;
    text-align: center;
    padding: 0px;
    font-size: 12px;
    cursor: pointer;
    opacity: 0.5;
    float: left;
    width: 100%;
}
.super-element-settings .field-input .super-multi-items .sorting span i:hover {
    opacity:1;
}
.super-element-settings .field-input .super-multi-items textarea {
    width: 155px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0px;
    font-size: 11px;
    padding: 0px 0px 0px 3px;
    margin-right: -1px;
    margin-bottom: -1px;
}
.super-element-settings .field-input .super-multi-items input[type="checkbox"],
.super-element-settings .field-input .super-multi-items input[type="radio"] {
    width:16px;
    height:16px;
    margin-right: 10px;
}
.super-element-settings .field select,
.super-element-settings .field input,
.super-element-settings .field textarea,
.super-element-settings .field .slide,
.super-form-settings .field select,
.super-form-settings .field input,
.super-form-settings .field textarea,
.super-form-settings .field .slider {
    width:100%;
    font-size: 11px;
    padding: 0px 0px 0px 5px;
    height: 20px;
    line-height: 20px;
}
.super-form-settings .field .super-conditional-check input {
    width: 36%;
    float: left;
}
.super-form-settings .field .super-conditional-check select {
    width: 26%;
    float: left;
}
.super-element-settings .super-error {
    border:1px solid #ff7878;
    background-color:#fff8f8;
}
.super-form-settings .field .slider {
    padding:0px 0px 0px 0px;
}
.super-element-settings .field select,
.super-form-settings .field select {
    padding:0px 0px 0px 0px;
}
.super-element-settings .field select[multiple],
.super-form-settings .field select[multiple] {
    height:auto;
}
.super-element-settings .field textarea,
.super-form-settings .field textarea {
    height:auto;
    line-height: 12px;
    font-size: 11px;
    padding: 3px 3px 3px 3px;
}
.super-elements .super-element .super-elements-container p {
    font-style: italic;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 15px 0px;
}
.super-element.super-layout-elements > .super-elements-container > .super-element {
    border: 3px solid #E9E9E9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: auto;
    padding: 5px;
    width: 23%;
    height: 70px;
    margin: 0px 1% 1% 1%!important;
}
.super-element.super-layout-elements > .super-elements-container > .super-element span {
    background-color: #E9E9E9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block!important;
    float: left;
    width: 96%;
    margin: 0px 2% 0px 2%;
    height: 54px;
    text-align: center;
    line-height:54px;
    font-size:10px;
}
.super-element.super-layout-elements > .super-elements-container > .super-element:hover {
    border: 3px solid #A9A9A9;
}
.super-element.super-layout-elements > .super-elements-container > .super-element.super-shortcode-column_one_half span {
    width: 46%;
    margin: 0px 2% 0px 2%;
}
.super-element.super-layout-elements > .super-elements-container > .super-element.super-shortcode-column_one_third span {
    width: 29%;
    margin: 0px 2% 0px 2%;
}
.super-element > .super-elements-container > .super-element {
    cursor: pointer;
    float: left;
    width: 31%;
    margin: 0px -1px -1px 0px!important;
    height: 20px;
    line-height: 18px;
    padding-left: 25px;
    font-size: 9px;
    position: relative!important;
    top: initial!important;
    left: initial!important;
    border: 1px solid #ECECEC;
    color: grey;
}
.super-element > .super-elements-container > .super-element.super-shortcode-stripe_cc,
.super-element > .super-elements-container > .super-element.super-shortcode-stripe_ideal {
    padding-left:38px;
}
.super-element.super-form-elements > .super-elements-container > .super-element:hover {
    color: #49B4B6;
    border: 1px solid #49B4B6;
    position:relative;
    z-index:1;
}
.super-element > .super-elements-container > .super-element:before {
    content:'';
    display:none;
}
.super-element > .super-elements-container > .super-element i {
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    text-align: center;
    line-height: 19px;
    font-size: 12px;
}
.super-form-elements .super-shortcode-stripe {
    padding-left:40px!important;
}
.super-form-elements .fa-stripe {
    font-size:20px!important;
    left: 5px!important;
}
.super-elements .load-form-container {
    float:left;
    width:100%;
}
.super-elements .load-form-container textarea {
    display:none;
}
.field-input .browse-images,
.field-input .browse-files {
    float:left;
    width:100%;
}
.field-input .browse-images .image-preview,
.field-input .browse-files .file-preview {
    float:left;
    width: 100%;
    margin: 10px 0px 0px 0px;
}
.field-input .browse-images .image-preview > li,
.field-input .browse-files .file-preview > li {
    border: 1px solid #dedede;
    float:left;
    text-align: center;
    margin: 0px 15px 15px 0px;
}
.field-input .browse-images .image-preview > li > .image,
.field-input .browse-files .file-preview > li > .image {
    width:100%;
    display: inline-block;
}
.field-input .browse-images .image-preview .image,
.field-input .browse-files .file-preview .image {
    text-align:center;
    max-width:100px;
}
.field-input .browse-images .image-preview .image img,
.field-input .browse-files .file-preview .image img {
    max-height:100px;
    max-width:100px;
    clear:both;
    padding: 5px;
}
.field-input .browse-images .image-preview > li > a,
.field-input .browse-files .file-preview > li > a {
    display:block;
    font-size:12px;
    padding:3px 25px;
    color:black;
    clear:both;
    text-decoration: underline;
}
.field-input .browse-images .image-preview > li > a.delete,
.field-input .browse-files .file-preview > li > a.delete {
    text-decoration:none;
    margin-top:5px;
    border: 1px solid #dedede;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.field-input .browse-images .image-preview > li > a.delete:after,
.field-input .browse-files .file-preview > li > a.delete:after {
    content:'\f1f8';
    padding:0px 0px 0px 5px;
}
.field-input .browse-images .image-preview > li > a.delete:hover,
.field-input .browse-files .file-preview > li > a.delete:hover {
    color:red;
}

/* @since 4.0.0 - introduction tutorial */
.tutorial-do-not-show-again {
    width:100%;
    display:block;
    float:left;
    margin:35px 0px 0px 0px;
}
.tutorial-do-not-show-again input {
    margin-right:10px;
}
.enjoy_hint_label {
    max-width: 620px;
    max-height: 240px;
    overflow-y: auto;
    color: #dcdcdc!important;
    padding: 20px;
    font-family: Arial!important;
    font-size: 14px!important;
    background-color: #212121;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    pointer-events: auto;
    z-index: 9999!important;
    font-weight: bold;
}
.enjoy_hint_label h1 {
    font-size:14px;
    color: #dcdcdc;
    margin:0;
    padding:0;
    float:left;
    clear:both;
}
.enjoy_hint_label a {
    color: #ff8434;
    text-decoration:none;
    font-weight:bold;
    border-bottom:1px solid #ff8434;
}
.enjoy_hint_label .super-tip:before {
    content:'\f05a';
    position:absolute;
    left:0px;
    top:0px;
    font-size:14px;
    color: #696969;
}
.enjoy_hint_label .super-tip {
    color: #ff8434;
    font-weight: normal;
    font-size: 12px;
    font-style: inherit;
    position:relative;
    padding-left:20px;
    display:block;
    float:left;
    width: 100%;
    clear: both;
    margin: 10px 0px 0px 0px;
}
.enjoyhint {
    z-index: 99999!important;
}
.enjoyhint_next_btn {
    color: rgba(255,255,255,1)!important;
    background: #ff8434b5!important;
    border: 2px solid #ff8434!important;
}
.enjoyhint_next_btn:hover {
    color: rgba(255,255,255,1)!important;
    background: #ff8434!important;
    border: 2px solid #ff8434!important;
}
.enjoyhint_close_btn {
    top:40px!important;
    right:20px!important;
    border: 2px solid #ff8434!important;
    background-color:#ff8434!important;
}
.super-html-content pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


/* TABS */
.super-builder .super-tabs {
    float:left;
}
.super-builder .super-tab-builder > .flag {
    margin:0px 4px 0px 8px;
}
.super-builder .super-tabs > span {
    padding: 6px 10px 4px 10px;
    margin-left:0px;
    font-size: 16px;
    padding: 6px 10px 4px 10px;
    margin: 0px 5px 0px 0px;
    font-size: 16px;
    float: left;
    background-color: #e6e6e6;
    color: #bdbdbd;
    cursor: default;
}
.super-builder .super-tabs > span:hover {
    cursor:pointer;
}
.super-builder .super-tabs > span.super-active {
    background-color:#ffffff;
    color:#bbbbbb;
    cursor: default;
}


/* TABS CONTENT */
.super-builder .super-tabs-content {
    float:left;
    width:100%;
    background-color: white;
}
.super-builder .super-tabs-content .super-tab-content {
    float:left;
    width:100%;
    background-color:white;
    padding:20px 20px 20px 20px;
    display:none;
}
.super-builder .super-tabs-content .super-tab-builder {
    padding:0px 0px 0px 0px;
}
.super-builder .super-tabs-content .super-tab-content.super-active {
    display:block;    
}

/* TAB - TRANSLATIONS */
.super-translation-mode-notice {
    border:1px solid #5a5a5a;
    background-color:#808080;
    padding: 10px 20px 10px 10px;
    margin:20px 20px 0px 20px;
    position:relative;
    color:white;
    display: none;
}
.super-translation-mode-notice p {
    margin:0px;
    padding:0px;
}
.super-translation-mode-notice:before {
    content:'\f1ab';
    font-family: 'Font awesome 5 free';
    font-weight:900;
    font-size:32px;
    color:white;
    display:block;
    float:left;
    line-height: 21px;
    padding: 0px 10px 0px 0px;
}
.super-translation-mode-notice .super-i18n-language {
    font-weight:600;
}
/* hide field names on the element */
.super-translation-mode .super-actions .clear,
.super-translation-mode .super-elements .super-layout-elements,
.super-translation-mode .super-elements .super-form-elements,
.super-translation-mode .super-elements .super-html-elements,
.super-translation-mode .super-element .super-element-header .super-title input,
.super-translation-mode .super-element-header .resize,   
.super-translation-mode .super-element-actions > span:not(.edit) {
    display:none;
}
.super-translation-mode .super-column > .super-element-header > .super-element-actions {
    display:none;
}
.super-tab-translations .super-setting {
    float:left;
    width:100%;
}
.super-tab-translations .super-setting .super-group {
    float:left;
    width: 25%;
    padding-right: 25px;
}
.super-tab-translations  .super-i18n-switch,
.super-tab-translations  .super-group.super-rtl {
    width:auto;
    margin-top:7px;
    height:27px;
    line-height:25px;
    padding: 0px 30px;
    position:relative;
    font-weight: 600;
    cursor: pointer;
}
.super-tab-translations  .super-i18n-switch {
    padding: 0px 30px 40px 30px;
    border-bottom: 1px solid #eaeaea;
}
.super-tab-translations  .super-i18n-switch span {
    color:#69ba00;
    font-weight:normal;
    padding-left:10px;
}
.super-tab-translations .super-default-language .super-group.super-rtl {
    margin-top:44px;
}
.super-tab-translations .super-i18n-switch:before,
.super-tab-translations .super-group.super-rtl:before {
    content:'';
    border:2px solid #eaeaea;
    width:15px;
    height:15px;
    display:block;
    position:absolute;
    left:0px;
    top:4px;
}
.super-tab-translations .super-i18n-switch:hover:before,
.super-tab-translations .super-group.super-rtl:hover:before {
    border:2px solid #d8d8d8;
}
.super-tab-translations .super-i18n-switch.super-active:after,
.super-tab-translations .super-group.super-rtl.super-active:after {
    content:'\f00c';
    font-family:'Font awesome 5 free';
    font-weight:900;
    position:absolute;
    left:5px;
    top:2px;
    font-size:10px;
    color:#69ba00;
}
.super-tab-translations .super-setting .super-group span {
    width:auto;
    float:left;
    padding:10px 10px 10px 0px;
    clear:both;
    font-weight:600;
}
.translations-list {
    float:left;
    width:100%;
    margin: 0;
}
.translations-list > li:first-child {
    display:none;
}
.translations-list li {
    float:left;
    width:100%;
    margin-top:0px;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    border-top: 1px solid #efefef;
}
.translations-list .edit,
.translations-list .delete {
    float:left;
    margin-top: 4px;
    height:32px;
    width:85px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color:grey;
    text-align:center;
    cursor:pointer;
}
.translations-list .edit:hover {
    background-color:#565656;
}

.translations-list li.super-default-language {
    border-top:0px;
}
.translations-list .edit:before,
.translations-list .edit:after,
.translations-list .delete:before {
    content:'\f1ab';
    font-weight:900;
    line-height:32px;
    color:white;
    font-family: 'Font awesome 5 free';  
    font-size:27px;
    float:left;
    margin-left:15px;
}
.translations-list .edit:after {
    content:'\f304';
    font-size:16px;
    margin-left:10px;
}
.translations-list .delete {
    height:32px;
    width:33px;
    background-color:#f5234b;
    margin-left:15px;
}
.translations-list .delete:hover {
    background-color:#de153b;
}
.translations-list .delete:before {
    content:'\f1f8';
    font-size:16px;
    margin-left:10px;
}
.translations-list .super-get-form-shortcodes,
.super-default-language .super-get-form-shortcodes {
    float: left;
    margin: 7px 20px 0px 0px;
    padding: 5px 10px 5px 10px;
    font-size: 11px;
    text-align: center;
    width: 25%;
}
.super-default-language .super-get-form-shortcodes {
    margin-top: 44px;
}
.super-default-language .edit {
    margin-top:42px;
    background-color: #2372f5;
    width: 42px;
}
.super-default-language .edit:after {
    content:'\f3e5';
    font-size:16px;
    margin-left: 12px;
}
.super-default-language .edit:before {
    display:none;
}
.create-translation {
    border-top:1px solid #efefef;
    float:left;
    width:100%;
    padding-top: 25px;
}
.create-translation p {
    padding:0;
    font-style: italic;
    color:#a0a0a0; 
}
.create-translation .super-button {
    float:left;
    clear:both;
}
.create-translation .super-button:after {
    content: '\f067';
    font-family: 'Font awesome 5 free';
    font-weight:900;
    padding:0px 0px 0px 10px;
}
.super-tab-translations .super-dropdown {
    border:1px solid #eaeaea;
    float:left;
    width:auto;
    position:relative;
    cursor:default;
    width: 100%;
    clear:both;
}
.super-tab-translations .super-dropdown.super-error {
    border:1px solid #ff5f5f;
    background-color:#ffebeb;
}
.super-tab-translations .super-dropdown.super-active {
    z-index:2;
}
.super-tab-translations .super-dropdown .super-dropdown-placeholder,
.super-tab-translations .super-dropdown .super-dropdown-items * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}    
.super-tab-translations .super-dropdown:hover {
    border:1px solid #dadada; 
}
.super-tab-translations .super-dropdown:before {
    font-family: 'Font awesome 5 free';
    content: '\f0d7';
    font-weight:900;
    position:absolute;
    right:0px;
    top:0px;
    padding:10px 10px 10px 10px;
}
.super-tab-translations .super-dropdown-placeholder {
    padding: 10px 30px 10px 10px;
}
.super-tab-translations .super-dropdown-search,
.super-tab-translations .super-dropdown-items {
    display:none;
}
.super-tab-translations .super-active .super-dropdown-search,
.super-tab-translations .super-active .super-dropdown-items {
    display:block;
}
.super-tab-translations .super-dropdown-search {
    position:relative;
    z-index:2;
    position: absolute;
    top: 38px;
    left: -1px;
    width: calc(100% + 2px);
}
.super-tab-translations .super-dropdown-search input {
    margin:0px;
    border:1px solid #eaeaea;
    width:100%;
    padding:5px 0px 5px 10px;
    font-size:12px;
    border-top: 0;
    border-bottom: 0;
}
.super-tab-translations .super-dropdown-items {
    margin:0;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 64px;
    left: -1px;
    width: calc(100% + 2px);
    background-color: white;
    border: 1px solid #eaeaea;
}
.super-tab-translations .super-dropdown-items li {
    margin:0;
    padding:2px 10px 2px 10px;
}
.super-filtering li {
    display:none;
}
.super-filtering .super-match {
    display:block;
}
.super-tab-translations .super-dropdown-placeholder .flag,
.super-tab-translations .super-dropdown-items li .flag {
    margin-right:10px;
}
.super-tab-translations .super-dropdown-items li:hover,
.super-tab-translations .super-dropdown-items li.super-active {
    background-color:#1E90FF;
    color:white;
}

/* Image select field type */
.super-image-select {
  float: left;
  width: 100%;
}
.super-image-select-option {
  border:1px solid #eee;
  width:100px;
  float:left;
  padding:5px 0px 5px 0px;
  margin:0px 10px 10px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.super-image-select-option:hover {
  cursor:pointer;
  border:1px solid #aaa;
}
.super-image-select-option.super-active {
  border:1px solid #49B4B6;
}
.super-image-select-option > input {
  display:none;
}
.super-image-select-option-icon {
  float:left;
  width:100%;
  text-align:center;
  font-size:30px;
  padding:5px 0px 5px 0px;
}
.super-image-select-option-title {
  float:left;
  width:100%;
  text-align:center;
  font-size:12px;
}

