.super-form .slider {
    width: 300px
}

.super-form .slider>.dragger {
    background: #8DCA09;
    background: -moz-linear-gradient(top, #8DCA09, #72A307); /* FF3.6+ */
    background: -webkit-gradient(top, #8DCA09, #72A307); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8DCA09, #72A307); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8DCA09, #72A307); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8DCA09, #72A307); /* IE10+ */
    background: linear-gradient(top, #8DCA09, #72A307);
    -webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, .5), 0 2px 8px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, .5), 0 2px 8px rgba(0, 0, 0, .2);
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, .5), 0 2px 8px rgba(0, 0, 0, .2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #496805;
    width: 16px;
    height: 16px
}

.super-form .slider>.dragger:hover {
    background: -moz-linear-gradient(top, #8DCA09, #8DCA09); /* FF3.6+ */
    background: -webkit-gradient(top, #8DCA09, #8DCA09); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8DCA09, #8DCA09); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8DCA09, #8DCA09); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8DCA09, #8DCA09); /* IE10+ */
    background: linear-gradient(top, #8DCA09, #8DCA09);
}

.super-form .slider>.highlight-track,
.super-form .slider>.track {
    background: #ccc;
    background: -moz-linear-gradient(top, #bbb, #ddd); /* FF3.6+ */
    background: -webkit-gradient(top, #bbb, #ddd); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bbb, #ddd); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bbb, #ddd); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bbb, #ddd); /* IE10+ */
    background: linear-gradient(top, #bbb, #ddd);
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
    height: 4px
}

.super-form .slider>.highlight-track {
    background: -moz-linear-gradient(top, #8DCA09, #72A307); /* FF3.6+ */
    background: -webkit-gradient(top, #8DCA09, #72A307); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8DCA09, #72A307); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8DCA09, #72A307); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8DCA09, #72A307); /* IE10+ */
    background: linear-gradient(top, #8DCA09, #72A307);
    border-color: #496805
}

.super-form-settings .super-field .slider,
.super-settings .super-field .slider {
    margin-bottom: 5px !important;
}

.super-form-settings .super-field .slider>.track,
.super-settings .super-field .slider>.track {
    background-color: #aaa;
    height: 4px;
    margin-top: -4px !important;
}

.super-form-settings .super-field .slider>.dragger,
.super-settings .super-field .slider>.dragger {
    height: 16px;
    margin-left: 0px !important;
}

.super-settings .super-field .slider>.dragger {
    margin-top: -2px!important;
}
