<div class="super-listing-entry-details">
    <div class="super-listing-row super-title">
        <div class="super-listing-row-label">Entry title</div>
        <div class="super-listing-row-value">{listing_entry_title}</div>
    </div>
    <div class="super-listing-row super-date">
        <div class="super-listing-row-label">Entry date</div>
        <div class="super-listing-row-value">{listing_entry_date}</div>
    </div>
    <div class="super-listing-row super-entry-id">
        <div class="super-listing-row-label">Entry ID</div>
        <div class="super-listing-row-value">{listing_entry_id}</div>
    </div>
</div>
<div class="super-listing-entry-data">
    {loop_fields}
</div>