<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    stopOnError="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="Super Forms Test Suite">
            <directory suffix="test-*.php">./tests/</directory>
        </testsuite>
        <testsuite name="Triggers and Actions">
            <directory suffix="test-*.php">./tests/triggers/</directory>
        </testsuite>
        <testsuite name="Data Migration">
            <directory suffix="test-*.php">./tests/migration/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/includes/</directory>
            <exclude>
                <directory>./src/includes/lib/</directory>
                <directory>./src/includes/vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./tests/coverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>

    <php>
        <const name="WP_TESTS_DOMAIN" value="example.org"/>
        <const name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <const name="WP_TESTS_TITLE" value="Test Blog"/>
        <const name="WP_PHP_BINARY" value="php"/>
        <const name="DEBUG_SF" value="true"/>
    </php>
</phpunit>