/*------------------------
    Contact Entry Page
-------------------------*/
.super-txn-status {
    background-color: #808080;
    padding:2px 10px 4px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-size:12px;
    cursor: default;
}
.super-txn-status-active,
.super-txn-status-completed,
.super-txn-status-canceled_reversal,
.super-txn-status-processed {
    background-color: #2BC300;
}
.super-txn-status-created,
.super-txn-status-pending {
    background-color: #FF7700;
}
.super-txn-status-refunded,
.super-txn-status-reversed,
.super-txn-status-denied,
.super-txn-status-expired,
.super-txn-status-failed,
.super-txn-status-suspended {
    background-color: #E40000;
}
.super-txn-status-voided {
    background-color: #000000;
}
.fa.super-paypal-txn-verified,
.fa.super-paypal-txn-unverified {
    color: #2bc300;
    font-size: 23px;
    display: block;
    float: left;
    margin: -2px 10px 0px 0px;
}
.fa.super-paypal-txn-unverified {
    color: #E40000;
}
.pp-name-email {
    position:relative;
    width:100%;
    float:left;
    padding-left:30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pp-name-email > i {
    position:absolute;
    left:0px;
    top: 2px;
    font-style: initial;
    font-size: 14px;
}