.super-form.super-style-one {
    width: 100%;
    background-image: url("../../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center 50px;
    padding: 20px 0px 80px 0px;
    float: left;
}  
.super-form.super-style-one.active {
	background:none;
}
.super-style-one .super-field .super-field-wrapper {
	padding: 0px 0px 10px 0px;
}
.super-style-one .super-field .super-field-wrapper.super-icon-outside.super-icon-left {
	padding: 0px 0px 10px 40px;
}
.super-style-one .super-field.super-checkbox.display-vertical .super-field-wrapper,
.super-style-one .super-field.super-radio.display-vertical .super-field-wrapper {
	padding:1px 30px 20px 50px;
}
.super-style-one .super-field.super-checkbox.display-horizontal .super-field-wrapper,
.super-style-one .super-field.super-radio.display-horizontal .super-field-wrapper {
	padding: 0px 30px 10px 50px;
}
.super-style-one .super-field .super-field-wrapper.super-icon-outside.super-icon-right {
	padding:0px 40px 10px 0px;
}
.super-style-one .super-field .super-field-wrapper.super-icon-inside.super-icon-left {
	padding: 0px 0px 10px 40px;
}
.super-style-one .super-field .super-field-wrapper.super-icon-inside.super-icon-right {
	padding: 0px 40px 10px 0px;
}
.super-style-one .super-field .super-field-wrapper .super-shortcode-field {
	border:0px!important;
	background:none!important;
	-webkit-box-shadow: none;  
	-moz-box-shadow: none;  
	box-shadow: none;
    padding-left:0px;
}
.super-style-one .super-field.super-time .super-field-wrapper .super-shortcode-field {
	width:100%;
}
.super-style-one .super-field .super-field-wrapper.super-icon-inside .super-shortcode-field {
	padding-left:15px;
}
.super-style-one .super-field .super-field-wrapper.super-icon-inside.super-icon-right .super-shortcode-field {
	padding:0px 0px 0px 15px;
}
.super-style-one .super-field .super-field-wrapper:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 1px;
	border-bottom: 2px solid #b4b4b4;
}
.super-style-one .super-field .super-field-wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    bottom: 1px;
    border-bottom: 2px solid #b4b4b4
    margin-top: 2px;
    bottom: 0px;
    border-bottom: 4px solid #1d1d1d;
    z-index: 2;
    -webkit-transition: width .4s ease-out;
    -moz-transition: width .4s ease-out;
    -o-transition: width .4s ease-out;
    transition: width .4s ease-out;
}
.super-style-one .super-field.super-focus .super-field-wrapper:before {
    width: 100%;
}




.super-style-one .super-field.super-skype .super-field-wrapper:before,
.super-style-one .super-field.super-skype .super-field-wrapper:after {
	display:none;
}
.super-style-one .super-field.super-skype .super-field-wrapper #SkypeButton_Call_ {
	padding:20px 0px 0px 5px;
}
.super-style-one .super-field.super-skype .super-field-wrapper #SkypeButton_Call_ #SkypeButton_Call__paraElement {
	margin:0px;
}
.super-style-one .super-field.super-skype .super-field-wrapper #SkypeButton_Call_ #SkypeButton_Call__paraElement a {
	outline: 0;
}
.super-style-one .super-field.super-skype .super-field-wrapper #SkypeButton_Call_ #SkypeButton_Call__paraElement a img {
	margin:0px!important;
}
.super-datepicker-dialog,
.ui-timepicker-wrapper {
	margin-top:15px;
}
.super-style-one .super-message {
	padding:10px 20px;
	margin:0px 0px 50px 0px;
	background-color: rgb(74, 74, 74);
	color:white;
	font-size:14px;
	border: 1px solid rgb(157, 157, 157);
}
.super-form.super-style-one .super-field > p::before {
  left: -26px;
  top: -10px;
}


/*------------------------------------------------------------*/
/*	# SUPER Dropdown UI
/*------------------------------------------------------------*/
.super-style-one .super-field .super-field-wrapper .super-dropdown-ui {
	list-style:none;
	height: auto;
	line-height:16px;
	margin: 0px 0px 0px 0px;
	padding:0;
	cursor: pointer;
	position: relative;
	border: 0px;
	z-index: 9999;
	text-align: left;
	background: none!important;
}
.super-style-one .super-field .super-field-wrapper .super-dropdown-ui li.super-placeholder {
	display:block;
	height: 33px;
	line-height: 32px;
	padding-left: 0px;
	background: none!important;
}
.super-style-one .super-field.super-focus .super-field-wrapper .super-dropdown-ui li.super-placeholder {
	padding-bottom: 50px;
}

.super-style-one .super-field .super-field-wrapper .super-dropdown-ui li {
	margin:0;
	padding: 0px 0px 0px 15px;
	height: 20px;
	line-height: 29px;
	background-color: #FFFFFF;
	display: none;
	line-height: 20px;
}

.super-style-one .super-field.super-focus .super-field-wrapper .super-dropdown-ui {    
	max-height: 200px;
	z-index: 9999999;
	overflow: hidden;
	position: absolute;
	overflow-y: auto;
	top: 0px;
	padding-bottom: 10px;
	background: none!important;
	border: none!important;
}

.super-style-one .super-field.super-focus .super-field-wrapper.super-icon-left .super-dropdown-ui {
	border:1px solid red;
	width: 90%;
	left: initial;
	right: 0px;
	width: 100%; /* all browsers */    
	width: -moz-calc(100% - 40px); /* Firefox 4+ */    
	width: calc(100% - 40px); /* IE9+ and future browsers */;
}
.super-style-one .super-field.super-focus .super-field-wrapper .super-dropdown-arrow {
	/* display: none; */
}

.super-style-one .super-field.super-focus .super-field-wrapper .super-dropdown-ui li {
	display:block;
	background-color: #F7F7F7;
	background: none!important;
}
.super-style-one .super-field.super-focus .super-field-wrapper .super-dropdown-ui li.selected {
	font-weight:bold;
	background-color: #E2E2E2;
	padding-left: 15px;
	background: none!important;
}
.super-style-one .super-field.super-focus .super-field-wrapper .super-dropdown-ui li.selected:before {
	content:'\f00c';
    font-size: 12px;
    font-weight:100;
    padding:0px 5px 0px 0px;
    font-family: FontAwesome;
}
.super-style-one .super-field .super-field-wrapper .super-dropdown-ui li:hover {
	background-color: #E2E2E2;
}
.super-style-one .super-field .super-field-wrapper .super-dropdown-ui li.super-placeholder:hover {
	background-color: #fff;
}
.super-style-one .super-field.super-focus .super-field-wrapper .super-dropdown-ui li.super-placeholder:hover {
	background-color: #F7F7F7;
}
.super-style-one .super-fileupload-button {
	border:none;
}