.super-stripe-dashboard a:focus {
    box-shadow: initial;
}

.super-stripe-dashboard {
    padding-right: 20px;
}

.super-loading>.super-stripe-tabs,
.super-loading>.super-stripe-tabs-content {
    visibility: hidden;
}

.super-stripe-load-more {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
}

.super-stripe-load-more.super-loading .super-stripe-action-btn {
    padding-right: 30px;
}

.super-stripe-dashboard>.super-stripe-loader {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e6ebf1;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.super-stripe-dashboard.super-loading>.super-stripe-loader {
    display: flex;
}

.super-stripe-dashboard>.super-stripe-loader>div {
    transform: scale(2)
}

.super-stripe-dashboard>.super-stripe-loader>div>svg {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    animation: SpinnerAnimationShow .25s normal ease, SpinnerAnimationRotation .7s linear infinite;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transform-origin: 50% 50%
}



.super-stripe-loader>div>svg>ellipse {
    fill: transparent;
    stroke: #8792a2;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-dasharray: 60;
    stroke-dashoffset: 20
}

@keyframes SpinnerAnimationShow {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes SpinnerAnimationRotation {
    0% {
        transform: scaleX(-1) rotate(0)
    }

    50% {
        transform: scaleX(-1) rotate(-180deg)
    }

    to {
        transform: scaleX(-1) rotate(-1turn)
    }
}

@keyframes SpinnerAnimationShowLoading {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes SpinnerAnimationRotationLoading {
    100% {
        transform: rotate(360deg);
    }

}


.super-stripe-tabs {
    display: flex;
    /* or inline-flex */
    border-bottom: 1px solid #ccc;
    padding-top: 9px;
    padding-bottom: 0;
    line-height: inherit;
    margin: 1.5em 0 1em;
}

.super-stripe-tab {
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-left: 0.5em;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.71428571;
    font-weight: 600;
    background: #e5e5e5;
    color: #555555;
    text-decoration: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.super-stripe-tab.super-active,
.super-stripe-tab.super-active:hover {
    cursor: default;
    border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
    margin-bottom: -1px;
}

.super-stripe-tab:hover {
    background-color: #fff;
    color: #444;
}

.super-stripe-tabs-content>div {
    display: none;
    overflow-x: auto;
}

.super-stripe-tabs-content>div.super-active {
    display: block;
}

.super-stripe-tabs-content table {
    width: 100%;
}

.super-stripe-tabs-content th {
    background-color: #23282D;
    color: white;
}

.super-stripe-tabs-content th,
.super-stripe-tabs-content td {
    text-align: left;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
}

.super-stripe-tabs-content tr {
    background-color: #fff;
}

.super-stripe-tabs-content tr td {
    border-bottom: 1px solid #D3D3D3;
}

.super-stripe-tabs-content tr:nth-child(even) {
    background-color: #F4F4F4;
}

.super-stripe-tabs-content tr:hover {
    background-color: #EBEBEB;
}

.super-stripe-actions {
    position: relative;
}

.super-stripe-action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    width: auto;
    padding: 2px 10px 2px 10px;
    height: 25px;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

.super-stripe-action-btn:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 3px 9px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px !important;
}

.super-stripe-action-btn.super-stripe-primary {
    color: white;
    background-color: rgb(84, 105, 212);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

.super-stripe-action-btn.super-stripe-primary:hover {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.42) 0px 3px 9px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}


.super-stripe-action-btn svg {
    margin-top: 1px;
}

svg.super-stripe-loader,
svg.super-stripe-delete,
.super-stripe-modal.super-loading .super-stripe-action-btn svg {
    position: absolute;
    left: 7px;
    top: 7px;
    display: -ms-flexbox;
    display: flex;
    width: 12px;
    height: 12px;
    color: #ffffff;
    transform-origin: 50% 50%;
    transition-timing-function: ease;
    transition-property: opacity, transform;
}

svg.super-stripe-loader,
.super-stripe-modal.super-loading .super-stripe-action-btn svg {
    animation: SpinnerAnimationShowLoading 250ms normal ease, SpinnerAnimationRotationLoading 0.6s linear infinite;
}

.super-stripe-wp-user svg.super-stripe-delete {
    position: initial;
}

svg.super-stripe-loader {
    left: initial;
    right: 10px;
    color: #000000;
}


.super-stripe-headings {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.super-stripe-table-rows .super-stripe-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.super-stripe-raw {
    display: none;
}

.super-stripe-headings {
    background-color: #F7FAFC;
    color: #1a1f36;
    font-weight: 600;
    box-shadow: inset 0 -1px #e3e8ee;
}

.super-stripe-heading {
    width: 100%;
    padding: 12px 20px 12px 20px;
}

.super-stripe-heading-amount {
    text-align: right;
}

.super-stripe-row {
    background-color: #ffffff;
    box-shadow: inset 0 -1px #e3e8ee;
}

.super-stripe-row:nth-child(even) {
    background-color: #ffffff;
}

.super-stripe-row:hover {
    background-color: #f9f9f9;
}

.super-stripe-row.super-contextmenu-active {
    background-color: #fff7e9;
}


.super-stripe-row>div {
    padding: 5px 20px 5px 20px;
    width: 100%;
}

.super-stripe-method {
    display: flex;
    align-items: center;
}

.super-stripe-method svg {
    border-radius: 2px;
    margin: 0px 10px 0px 0px;
}


.super-stripe-column {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.super-stripe-column.super-stripe-amount {
    justify-content: flex-end;
    text-align: right;
}

.super-stripe-column .super-stripe-amount {
    color: #1a1f36;
    font-weight: 500;
}

.super-stripe-heading-actions,
.super-stripe-column.super-stripe-actions {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;
    justify-content: center;
    text-align: center;
    padding-right: 0;
}

.super-stripe-column.super-stripe-actions {
    flex-basis: 50px;
    padding-right: 0;
    opacity: 0;
}

.super-stripe-row:hover .super-stripe-actions {
    opacity: 1;
}

.super-stripe-row.super-contextmenu-active .super-stripe-actions {
    opacity: 1;
}

.super-stripe-search-users,
.super-stripe-search-users input {
    width: 100%;
}

.super-stripe-search-users input {
    min-height: initial;
    height: 28px;
}

.super-stripe-search-users>div,
.super-stripe-filtering .super-stripe-search-users>input,
.super-stripe-row:hover .super-stripe-search-users>input {
    display: block;
}

.super-stripe-row:hover .super-stripe-search-users>div,
.super-stripe-filtering .super-stripe-search-users>div,
.super-stripe-search-users>input {
    display: none;
}


.super-stripe-heading-amount,
.super-stripe-column.super-stripe-amount {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    padding-left: 0;
    justify-content: flex-end;
}

.super-stripe-heading-currency,
.super-stripe-column.super-stripe-currency {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40px;
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
}

.super-stripe-heading-status,
.super-stripe-column.super-stripe-status {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 120px;
    justify-content: flex-start;
}

.super-stripe-currency {
    color: #697386;
}

.super-stripe-testdata {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    height: 14px;
    padding: 2px 5px 2px 5px;
    background-color: #f5925e;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    border-radius: 3px;
    margin-left: 10px;
}


.super-stripe-contextmenu,
.super-stripe-filtermenu {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(136, 152, 170, .1), 0 15px 35px 0 rgba(49, 49, 93, .1), 0 5px 15px 0 rgba(0, 0, 0, .08);
    padding: 10px 0px 10px 0px;
}

.super-stripe-filtermenu>span {
    padding-left: 10px;
    padding: 3px 10px 3px 10px;
    background-color: #eee;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-weight: 600;
}

.super-stripe-filtermenu>div {
    padding: 3px 10px 3px 20px;
}

.super-stripe-filtermenu>div:hover {
    background-color: #0078ea;
    cursor: default;
    color: white;
}

.super-stripe-contextmenu:after {
    content: '';
    z-index: 1;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -14px;
    left: 7px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMjEgOSI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjODg5OEFBIiBmaWxsLW9wYWNpdHk9Ii4xIiBkPSJNMSA5LjA5MmgxOWwtNi40MDItNi43NGMtMS43MTctMS44MDYtNC40ODUtMS44LTYuMTk2IDBMMSA5LjA5M3pNMjAuMzQyIDhsLTYuMDItNi4zMzZjLTIuMTA4LTIuMjItNS41MzgtMi4yMTgtNy42NDUgMEwuNjU4IDhoMTkuNjg0eiIvPjxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik03LjQwMiAyLjM1M2MxLjcxMS0xLjgwMSA0LjQ4LTEuODA3IDYuMTk2IDBMMjAgOS4wOTNIMWw2LjQwMi02Ljc0eiIvPjwvZz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center center;
}

.super-stripe-contextmenu>span {
    color: #697386;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    min-width: 160px;
    padding: 4px 12px;
    z-index: 90000;
}

.super-stripe-contextmenu>div,
.super-stripe-contextmenu>a {
    cursor: pointer;
    color: #5469d4;
    font-weight: 500;
    padding: 4px 12px;
    text-decoration: none;
    display: block;
    position: relative;
}

.super-stripe-contextmenu .super-stripe-copy {
    max-width: 173px;
    margin: 5px 0px 0px 5px;
    font-size: 10px;
    min-width: 173px;
    padding: 0px 0px 0px 5px;
    height: 24px;
    min-height: 24px;
    border-radius: 3px;
}

.super-stripe-contextmenu>div:hover,
.super-stripe-contextmenu>a:hover {
    background-color: #f7fafc;
    color: #1a1f36;
}

.super-stripe-contextmenu .super-stripe-copied,
.super-stripe-contextmenu .super-stripe-copied:hover {
    color: #f5925e;
    background-color: #ffffff;
}

.super-stripe-contextmenu>divider {
    border-top: 1px solid #eee;
    border-bottom: 1px solid white;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.super-stripe-action-bar {
    background-color: white;
    color: #1a1f36;
    font-weight: 600;
    box-shadow: inset 0 -1px #e3e8ee;
    padding: 15px 5px 15px 15px;
    height: 30px;
}

.super-stripe-action-bar .super-stripe-action-btn {
    float: right;
    color: #4f566b;
    fill: #4f566b;
    width: auto;
    padding: 2px 10px 2px 10px;
    margin: 0px 10px 0px 0px;
}

.super-stripe-action-bar .super-stripe-action-btn>span {
    float: right;
    padding: 3px 0px 4px 5px;
}

.super-stripe-action-bar .super-stripe-action-btn.super-stripe-filters {
    float: left;
}

.super-stripe-modal-wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9000001;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
}


.super-stripe-modal {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
    max-width: 448px;
    position: relative;
}

.super-stripe-modal.super-loading:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    z-index: 10;
}

.super-stripe-modal.super-loading .super-stripe-action-btn.super-stripe-primary {
    padding-left: 25px;
}


.super-stripe-modal-title,
.super-stripe-modal-info,
.super-stripe-modal-fields {
    box-shadow: inset 0 -1px #e3e8ee;
    font-weight: 500;
    padding: 20px 20px 20px 20px;
    color: #1a1f36;
}

.super-stripe-modal-title {
    font-size: 16px;
}

.super-stripe-modal-info {
    position: relative;
    padding: 12px 20px 12px 45px;
}

.super-stripe-modal-info svg {
    margin: 0px 12px 0px 0px;
    fill: #8792a2;
    position: absolute;
    left: 20px;
    top: 15px;
}

.super-stripe-modal-info,
.super-stripe-modal-fields {
    background-color: #f7fafc;
    font-size: 14px;
}



.super-stripe-modal-fields {
    font-weight: initial;
    float: left;
}

.super-stripe-modal-field {
    display: flex;
    align-items: flex-start;
    margin: 10px 0px 10px 0px;
    width: 100%;
    float: left;
}

.super-stripe-field-label {
    text-align: right;
    padding-right: 15px;
    width: 30%;
    color: #2a2f45;
    cursor: default;
    padding-top: 5px;
}

.super-stripe-dashboard input,
.super-stripe-modal-fields input,
.super-stripe-modal-fields textarea,
.super-stripe-action-btn {
    border: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;
    transition: background-color 240ms, box-shadow 240ms;
}

.super-stripe-dashboard input:focus,
.super-stripe-modal-fields input:focus,
.super-stripe-modal-fields textarea:focus,
.super-stripe-action-btn:active {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(58, 151, 212, 0.34) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;
}

.super-stripe-modal-fields textarea {
    padding: 5px 10px 15px 10px;
    margin-top: 20px;
    width: 100%;
}

.super-stripe-modal-fields ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #9197a3;
}

.super-stripe-modal-fields :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #9197a3;
    opacity: 1;
}

.super-stripe-modal-fields ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9197a3;
    opacity: 1;
}

.super-stripe-modal-fields :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #9197a3;
}

.super-stripe-modal-fields :focus::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #bdc1c9;
}

.super-stripe-modal-fields :focus:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bdc1c9;
    opacity: 1;
}

.super-stripe-modal-fields :focus::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bdc1c9;
    opacity: 1;
}

.super-stripe-modal-fields :focus:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #bdc1c9;
}

.super-stripe-modal-fields select {
    width: 100%;
    position: relative;
    z-index: 1;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;
    word-break: keep-all;
    background: transparent;
    border: 0;
    outline: 0;
    transition: color 240ms;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

.super-stripe-modal-fields select:hover {
    color: rgb(60, 66, 87);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 3px 9px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

.super-stripe-modal-fields select:focus {
    border: initial;
    color: rgb(26, 31, 54);
    outline: none;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(58, 151, 212, 0.34) 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 3px 9px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

.super-stripe-field-wrapper {
    position: relative;
    float: left;
    width: 50%;
}

.super-stripe-field-wrapper i {
    color: #697386;
    font-style: initial;
    display: inline-block;
    padding-top: 5px;
}

.super-stripe-field-wrapper>svg {
    fill: rgb(60, 66, 87);
    position: absolute;
    top: 15px;
    right: 8px;
    z-index: 2;
    margin-top: -6px;
    transition: color 240ms;
    pointer-events: none;
}

.super-stripe-field-wrapper:hover>svg {
    fill: rgb(26, 31, 54);
}

.super-stripe-modal .super-stripe-currency {
    position: absolute;
    top: 15px;
    right: 8px;
    z-index: 2;
    margin-top: -9px;
    transition: color 240ms;
    pointer-events: none;
}


.super-error .super-stripe-field-label {
    color: #cd3d64;
}

.super-stripe-error {
    color: #cd3d64;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 25px;
    position: relative;
}

.super-stripe-error:before {
    content: "";
    left: 0;
    position: absolute;
    top: 2px;
    display: block;
    height: 16px;
    width: 16px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+d2FybmluZy0tcmVkLS1zbWFsbDwvdGl0bGU+PGcgZmlsbD0iI0UyNTk1MCIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNjgzIDEzLjc3NUwxMS40OSAyLjk1Yy0uNjg4LTEuMjY3LTIuMjk0LTEuMjY3LTIuOTgyIDBMMi4zMTcgMTMuNzc1Yy0uODAzIDEuMzgyIDAgMy4yMjUgMS40OSAzLjIyNWgxMi4zODVjMS40OSAwIDIuMjk0LTEuODQzIDEuNDktMy4yMjV6IiBmaWxsLW9wYWNpdHk9Ii4yIi8+PHBhdGggZD0iTTkgOC4xMzZDOSA3LjQ1NSA5LjQgNyAxMCA3czEgLjQ1NSAxIDEuMTM2djIuNzI4YzAgLjY4MS0uNCAxLjEzNi0xIDEuMTM2cy0xLS40NTUtMS0xLjEzNlY4LjEzNnpNMTAgMTRjLS41ODMgMC0xLS4zMTMtMS0uNzUgMC0uNDM4LjQxNy0uNzUgMS0uNzVzMSAuMzEzIDEgLjc1YzAgLjQzOC0uNDE3Ljc1LTEgLjc1eiIvPjwvZz48L3N2Zz4=") no-repeat -2px -2px;
}

.super-field-type-currency input {
    padding-right: 50px;
    width: 100%;
}

.super-field-type-currency {
    width: 40%;
}

.super-stripe-modal-actions {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 5px 15px 15px;
    box-sizing: border-box;
}

.super-stripe-modal-actions .super-stripe-action-btn {
    margin-right: 10px;
}

.super-stripe-toast-wrapper {
    position: fixed;
    bottom: -100px;
    left: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    transition: all 0.5s;
    z-index: 9100000;
}

.super-stripe-toast {
    color: #fff;
    background-color: #3c4257;
    border-radius: 4px;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    padding-right: 35px;
    overflow: hidden;
}

.super-stripe-toast span {
    padding: 12px 20px 12px 20px;
    display: inline-block;
}

.super-stripe-toast-close,
.super-stripe-toast a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    box-shadow: inset 1px 0 #4f566b;
    padding: 12px 20px 12px 20px;
    display: inline-block;
    position: relative;
}

.super-stripe-toast-close {
    width: 35px;
    padding: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    cursor: pointer;
}

.super-stripe-toast a:hover,
.super-stripe-toast-close:hover {
    background-color: #303442;
}

.super-stripe-toast-close svg {
    fill: white;
    animation: initial;
    top: 15px;
    left: initial;
    right: 12px;
}

.super-stripe-shipping {
    white-space: initial;
}

.super-stripe-address>div {
    display: flex;
    align-content: flex-start;
    margin-bottom: 5px;
}

.super-stripe-address>div>strong {
    width: 100px;
}

.super-stripe-address>div>span {
    width: 100%;
}

.super-stripe-customer {
    padding-left: 22px !important;
    flex-wrap: wrap;
}

.super-stripe-wp-user,
.super-stripe-stripe-customer {
    float: left;
    clear: both;
    display: block;
    position: relative;
    padding: 3px 0px 3px 22px;
    width: 100%;
}

.super-stripe-wp-user:after,
svg.super-stripe-customer {
    position: absolute;
    left: 0px;
    top: 4px;
    padding-left: 0 !important;
}

.super-stripe-wp-user:after {
    content: "\f120";
    font: normal 16px/1 dashicons;
}

svg.super-stripe-customer path:nth-child(1) {
    fill: #5469D4;
}

svg.super-stripe-customer path:nth-child(2) {
    fill: #9CBEF5;
}

.super-stripe-description svg {
    fill: #6c8eef;
    margin-right: 5px;
}

.super-stripe-description>a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: initial !important;
}

.super-stripe-description .super-stripe-loader {
    position: initial;
}


.super-stripe-heading-status,
.super-stripe-column.super-stripe-status,
.super-stripe-heading-method,
.super-stripe-column.super-stripe-method,
.super-stripe-heading-date,
.super-stripe-column.super-stripe-date {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: left;
    text-align: left;
}

.super-stripe-heading-status,
.super-stripe-column.super-stripe-status {
    flex-basis: 100px;
}

.super-stripe-heading-method,
.super-stripe-column.super-stripe-method {
    flex-basis: 180px;
}

.super-stripe-heading-date,
.super-stripe-column.super-stripe-date {
    flex-basis: 130px;
}

.super-stripe-unconnect {
    display: none;
    position: absolute;
    right: -40px;
    top: 0px;
    height: 20px;
    width: 10px;
}

.super-stripe-column.super-stripe-user:hover .super-stripe-unconnect {
    display: flex;
}

.super-stripe-customers .super-stripe-wp-user,
.super-stripe-subscriptions .super-stripe-wp-user {
    width: auto;
}

.super-stripe-unconnect .super-stripe-loader {
    top: 5px;
}

.super-stripe-search-users .super-stripe-loader {
    left: 0px;
    top: 13px;
}

.super-stripe-filtermenu .super-stripe-loader {
    top: 15px;
}


.super-stripe-heading.super-stripe-heading-customer,
.super-stripe-column.super-stripe-customer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 160px;
}

.super-stripe-subscriptions .super-stripe-heading.super-stripe-heading-status,
.super-stripe-subscriptions .super-stripe-column.super-stripe-status,
.super-stripe-subscriptions .super-stripe-heading.super-stripe-heading-billing,
.super-stripe-subscriptions .super-stripe-column.super-stripe-billing,
.super-stripe-subscriptions .super-stripe-heading.super-stripe-heading-pricing_qty,
.super-stripe-subscriptions .super-stripe-column.super-stripe-pricing-qty {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;
}

.super-stripe-subscriptions .super-stripe-pricing-plan {
    display: block;
}