.super-stripe-dashboard {
    padding-right: 20px;
}

.super-loading>.super-stripe-tabs,
.super-loading>.super-stripe-tabs-content {
    visibility: hidden;
}

.super-stripe-loader {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e6ebf1;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.super-stripe-dashboard.super-loading>.super-stripe-loader {
    display: flex;
}

.super-stripe-loader>div {
    transform: scale(2)
}

.super-stripe-loader>div>svg {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    animation: SpinnerAnimationShow .25s normal ease, SpinnerAnimationRotation .7s linear infinite;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transform-origin: 50% 50%
}

.super-stripe-loader>div>svg>ellipse {
    fill: transparent;
    stroke: #8792a2;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-dasharray: 60;
    stroke-dashoffset: 20
}

@keyframes SpinnerAnimationShow {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes SpinnerAnimationRotation {
    0% {
        transform: scaleX(-1) rotate(0)
    }

    50% {
        transform: scaleX(-1) rotate(-180deg)
    }

    to {
        transform: scaleX(-1) rotate(-1turn)
    }
}

.super-stripe-tabs {
    display: flex;
    /* or inline-flex */
    border-bottom: 1px solid #ccc;
    padding-top: 9px;
    padding-bottom: 0;
    line-height: inherit;
    margin: 1.5em 0 1em;
}

.super-stripe-tab {
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-left: 0.5em;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.71428571;
    font-weight: 600;
    background: #e5e5e5;
    color: #555555;
    text-decoration: none;
    white-space: nowrap;
}

.super-stripe-tab.super-active,
.super-stripe-tab.super-active:hover {
    cursor: default;
    border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
    margin-bottom: -1px;
}

.super-stripe-tab:hover {
    background-color: #fff;
    color: #444;
}

.super-stripe-tabs-content>div {
    display: none;
    overflow-x: auto;
}

.super-stripe-tabs-content>div.super-active {
    display: block;
}

.super-stripe-tabs-content table {
    width: 100%;
}

.super-stripe-tabs-content th {
    background-color: #23282D;
    color: white;
}

.super-stripe-tabs-content th,
.super-stripe-tabs-content td {
    text-align: left;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
}

.super-stripe-tabs-content tr {
    background-color: #fff;
}

.super-stripe-tabs-content tr td {
    border-bottom: 1px solid #D3D3D3;
}

.super-stripe-tabs-content tr:nth-child(even) {
    background-color: #F4F4F4;
}

.super-stripe-tabs-content tr:hover {
    background-color: #EBEBEB;
}

.super-stripe-actions {
    position: relative;
}

.super-stripe-column.super-stripe-actions {
    text-align: center;
}

.super-stripe-action-btn {
    display: inline-block;
    background-color: white;
    width: 35px;
    height: 25px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;

}

.super-stripe-action-btn:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 3px 9px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

.super-stripe-action-btn svg {
    margin-top: 7px;
}

.super-stripe-headings {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.super-stripe-table-rows .super-stripe-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.super-stripe-headings {
    background-color: #23282D;
    color: white;
    font-weight: 600;
}

.super-stripe-heading {
    width: 100%;
    padding: 5px 20px 5px 5px;
}

.super-stripe-row {
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
}

.super-stripe-row:nth-child(even) {
    background-color: #ffffff;
}

.super-stripe-row:hover {
    background-color: #f9f9f9;
}


.super-stripe-row>div {
    padding: 5px 20px 5px 5px;
    width: 100%;
}

.super-stripe-heading.super-stripe-heading-actions,
.super-stripe-column.super-stripe-actions {
    max-width: 50px !important;
}

.super-stripe-column {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 4px;
}

.super-stripe-testdata {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    height: 14px;
    padding: 2px 5px 2px 5px;
    background-color: #f5925e;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    border-radius: 3px;
    margin-left: 10px;
}


.super-stripe-contextmenu {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(136, 152, 170, .1), 0 15px 35px 0 rgba(49, 49, 93, .1), 0 5px 15px 0 rgba(0, 0, 0, .08);
    padding: 10px 0px 10px 0px;
}

.super-stripe-contextmenu:after {
    content: '';
    z-index: 1;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -14px;
    left: 7px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMjEgOSI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjODg5OEFBIiBmaWxsLW9wYWNpdHk9Ii4xIiBkPSJNMSA5LjA5MmgxOWwtNi40MDItNi43NGMtMS43MTctMS44MDYtNC40ODUtMS44LTYuMTk2IDBMMSA5LjA5M3pNMjAuMzQyIDhsLTYuMDItNi4zMzZjLTIuMTA4LTIuMjItNS41MzgtMi4yMTgtNy42NDUgMEwuNjU4IDhoMTkuNjg0eiIvPjxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik03LjQwMiAyLjM1M2MxLjcxMS0xLjgwMSA0LjQ4LTEuODA3IDYuMTk2IDBMMjAgOS4wOTNIMWw2LjQwMi02Ljc0eiIvPjwvZz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center center;
}

.super-stripe-contextmenu>span {
    color: #697386;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    min-width: 160px;
    padding: 4px 12px;
    z-index: 90000;
}

.super-stripe-contextmenu>div,
.super-stripe-contextmenu>a {
    cursor: pointer;
    color: #5469d4;
    font-weight: 500;
    padding: 4px 12px;
    text-decoration:none;
    display:block;
}

.super-stripe-contextmenu .super-stripe-copy {
    max-width: 173px;
    margin: 5px 0px 0px 5px;
    font-size: 10px;
    min-width: 173px;
    padding: 0px 0px 0px 5px;
    height: 24px;
    min-height: 24px;
    border-radius: 3px;
}

.super-stripe-contextmenu>div:hover,
.super-stripe-contextmenu>a:hover {
    background-color: #f7fafc;
    color: #1a1f36;
}

.super-stripe-contextmenu .super-stripe-copied,
.super-stripe-contextmenu .super-stripe-copied:hover {
    color: #f5925e;
    background-color: #ffffff;
}

.super-stripe-contextmenu>divider {
    border-top: 1px solid #eee;
    border-bottom: 1px solid white;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}