.front-end-listing-list {
  float: left;
  display: block;
  width: 100%;
}
.front-end-listing-list li {
  float: left;
  display: block;
  width: 100%;
  margin:0px 0px 10px 0px;
}
.front-end-listing-list .super-group {
  float: left;
  display: block;
  width: 30%;
  margin-right: 15px;
}
.front-end-listing-list span {
  font-weight: 600;
  float: left;
  display: block;
  width: 100%;
}
.super-sub-settings span {
  font-weight:initial;
}

div[data-name="custom_columns"] li {
  position:relative;
  border: 1px dashed #c5c5c5;
  padding: 5px 0px 7px 10px;
  background-color: #f7f7f7;
  margin: 10px 0px 0px 0px;
}
div[data-name="custom_columns"] .super-text:nth-child(3) {
  max-width: 200px;
}
div[data-name="custom_columns"] .super-text:nth-child(4) {
  max-width: 300px;
}
div[data-name="custom_columns"] .super-text:nth-child(5) {
  max-width: 140px;
}
.super-sub-settings .super-add-column,
.super-sub-settings .super-delete-column {
    float: left;
    margin-top: 17px;
    height: 30px;
    width: 31px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #69ba00;
    text-align: center;
    cursor: pointer;
    padding: 5px 0px 0px 0px;
}
.super-sub-settings .super-delete-column {
    background-color: #f5234b;
    margin-left: 5px;
}
.super-sub-settings .super-add-column:hover {
    background-color: #5ea700;
}
.super-sub-settings .super-delete-column:hover {
    background-color: #de153b;
}
.super-sub-settings .super-add-column:before,
.super-sub-settings .super-delete-column:before {
    content:'\f067';
    font-weight:900;
    font-family: 'Font awesome 5 free';
    font-size:16px;
    color:#ffffff;
    text-align:center;
}
.super-sub-settings .super-delete-column:before {
    content:'\f1f8';
}


.super-sub-settings .sort-up,
.super-sub-settings .sort-down {
  border:1px solid gainsboro;
  float:left;
  width:auto;
  height:20px;
  position:absolute;
  left:-25px;
  top: -1px;
  padding:0px 2px 0px 2px;
}
.super-sub-settings .sort-up:before,
.super-sub-settings .sort-down:before {
    content:'\f077';
    font-weight:900;
    font-family: 'Font awesome 5 free';  
    float:left;
    font-size:16px;
    color:#dadada;
}
.super-sub-settings .sort-up:hover:before,
.super-sub-settings .sort-down:hover:before {
    color:#989898;
    cursor:pointer;
}
.super-sub-settings .sort-down:before {
  content:'\f078';
}
.super-sub-settings .sort-down {
  top: 18px;
}
.front-end-listing-list span i {
  width:auto;
  float:none;
  font-weight:initial;
  color:#797979;
}
.front-end-listing-list input {
  float: left;
  display: block;
  width: 100%;
}
.front-end-listing-list input[type="date"] {
  width:auto;
  clear: both;
}
.front-end-listing-list .super-setting,
.front-end-listing-list .super-delete {
    float:left;
    margin-top: 17px;
    height:32px;
    width:33px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color:grey;
    text-align:center;
    cursor:pointer;
}
.front-end-listing-list .super-setting:hover {
    background-color:#565656;
}
.front-end-listing-list .super-setting:before,
.front-end-listing-list .super-delete:before {
    content:'\f085';
    font-weight:900;
    line-height:32px;
    color:white;
    font-family: 'Font awesome 5 free';  
    float:left;
    font-size:16px;
    margin-left:6px;
}
.front-end-listing-list .super-delete {
    background-color:#f5234b;
    margin-left:15px;
}
.front-end-listing-list .super-delete:hover {
    background-color:#de153b;
}
.front-end-listing-list .super-delete:before {
    content:'\f1f8';
    font-size:16px;
    margin-left:10px;
}





.create-listing {
  float: left;
  width: 100%;
}
.front-end-listing-list li .super-settings {
  display:none;
  float: left;
  width: 100%;
  margin-top: 20px;
}
.front-end-listing-list li.super-active .super-settings {
  display:block;
}

.super-create-listing {
    box-shadow: initial;
    border: 0;
    border-radius: initial;
    background-color: #69BA00;
    overflow: initial;
    color: white;
    height: 30px!important;
    line-height: 30px!important;
    padding: 0px 15px 0px 15px!important;
    float: initial;
    font-size: 12px!important;
    position: relative;
    cursor: pointer;
    font-weight: 100;
    width: auto!important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0px 6px 0px 0px;
    background-color: #69BA00;
}
.super-create-listing:hover {
    opacity:0.7;
}
.super-create-listing:after {
    content: '\f067';
    font-family: 'Font awesome 5 free';
    font-weight:900;
    padding:0px 0px 0px 10px;
}




.front-end-listing-list * {
  float:left;
  width:100%;
}
.front-end-listing-list select[name="limit"] {
  width:auto;
}
.front-end-listing-list .super-checkbox,
.front-end-listing-list .super-radio {
  margin-bottom:5px;
  padding-bottom:5px;
  border-bottom:1px solid #dadada;
}
.front-end-listing-list .super-radio {
  padding-bottom:10px;
  padding-top:5px;
}
.front-end-listing-list .super-checkbox > span,
.front-end-listing-list .super-radio > span {
  cursor: pointer;
  position:relative;
  padding-left:30px;
  padding:3px 0px 5px 25px;
  width: auto;
}
.front-end-listing-list .super-radio > span {
  width:100%;
}
.front-end-listing-list .super-checkbox > span {
  padding:10px 0px 12px 25px;
}
.front-end-listing-list .super-checkbox > span.super-active {
  padding-bottom:5px;
}
.front-end-listing-list .super-radio > span i {
  display:none;
}

.front-end-listing-list .super-checkbox > span span {
  float:left;
  width:auto; 
  width:200px;
}
.front-end-listing-list .super-checkbox > span input {
  float:left;
  width:auto; 
  width:150px;
  font-weight:initial;
  margin:-3px 10px 0px 0px;
  display:none;
}
.front-end-listing-list .super-checkbox > span input:nth-child(4),
.front-end-listing-list .super-checkbox > span input:nth-child(5) {
  width:60px;
}

.front-end-listing-list .super-checkbox > span.super-active input {
  display:block;
}
.front-end-listing-list .super-radio > span input {
  width:auto;
  float:none;
  margin-top:5px;
  display:none;
  font-weight: initial;
}
.front-end-listing-list .super-radio > span.super-active i,
.front-end-listing-list .super-radio > span.super-active input {
  display:block;
}
.front-end-listing-list .super-sub-settings {
  display:none;
  padding-bottom: 10px;
  padding-left: 25px;
}
.front-end-listing-list .super-active > .super-sub-settings {
  display:block;
}
.front-end-listing-list .super-sub-settings .super-text {
  width: auto;
  margin-right:15px;
}
.front-end-listing-list .super-checkbox > span:before,
.front-end-listing-list .super-radio > span:before {
    content:'';
    border:2px solid #eaeaea;
    width:15px;
    height:15px;
    display:block;
    position:absolute;
    left:0px;
    top:10px;
}
.front-end-listing-list .super-radio > span:before {
  top:4px;
}
.front-end-listing-list .super-radio > span:before {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.front-end-listing-list .super-checkbox > span:hover:before,
.front-end-listing-list .super-radio > span:hover:before {
    border:2px solid #d8d8d8;
}
.front-end-listing-list .super-active > span:after,
.front-end-listing-list .super-active > span:after,
.front-end-listing-list .super-checkbox > span.super-active:after,
.front-end-listing-list .super-radio > span.super-active:after {
    content:'\f00c';
    font-family:'Font awesome 5 free';
    font-weight:900;
    position:absolute;
    left:5px;
    top: 10px;
    font-size:10px;
    color:#69ba00;
}
.front-end-listing-list .super-radio > span.super-active:after {
    content:'';
    top:9px;
    background-color:#69ba00;
    width:9px;
    height:9px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
