ForceType application/octet-stream
Header set Content-Disposition attachment
<FilesMatch "(?i)\.(gif|jpe?g|png)$">
    ForceType none
    Header unset Content-Disposition
</FilesMatch>
Header set X-Content-Type-Options nosniff
RemoveHandler .php .phtml .php3 .php4 .php5 .php6 .php7 .php8 .php9 .php10 .phps .shtml .asa .cer
RemoveType .php .phtml .php3 .php4 .php5 .php6 .php7 .php8 .php9 .php10 .phps .shtml .asa .cer
<Files *>
deny from all
</Files>

<Files *.csv>
allow from all
</Files>

<Files *.txt>
allow from all
</Files>

<Files *.html>
allow from all
</Files>

<Files *.pdf>
allow from all
</Files>
