For all changed that I made, you can refer to commit here:

[✔] 1. Remove all unused code: https://envato.d.pr/SvaiuU https://envato.d.pr/mq8KD5 https://envato.d.pr/Yy2IKz
[✔] 2. Translatable strings need a text domain: https://envato.d.pr/sAMOEL
Added 10 missing text domains
[x] 3. Escape all data before output: https://envato.d.pr/XuzyVt
[✔] 4. All theme text strings are to be translatable and properly escaped. https://gist.github.com/kailoon/01fa8e95d2e910e666c6 https://envato.d.pr/MWsjMk
[✔] 5. Don't prefix third-party scripts / styles: https://envato.d.pr/Rbd9Hg
[✔] 6. Use protocol relative URLs: https://envato.d.pr/ETf7vZ
[✔] 7. Don't suppress errors: https://envato.d.pr/K8dkpt
[✔] 8. This file isn't minified, but the filename suggests it is: https://envato.d.pr/iQ4ISW
[✔] 9. All JavaScript should be written with “use strict” mode on. 
All JavaScript files start with "use strict"; at the very top, indicating that the whole file should be executed in "strict mode". 

