Security
Following are the security requirements:

Installation and Uninstallation
Following are the installation and uninstallation requirements:
x Upon uninstallation, a plugin should prompt a user that it will be deleting its data and receive a confirmation that the user is okay with deleting the data before doing so and a plugin should also allow the user the option to keep the data upon uninstallation.
x An option to export/import settings can be presented during uninstallation so that settings can be saved outside of WordPress prior to deletion.

CSS Standards
Following are the CSS standard requirements:
x Excessively specific selectors which drastically affects performance should be avoided.
x Refrain from using over-qualified selectors, div.container can simply be stated as .container.
x Comments to denote opening and closing of sections is required since it promotes usability and ease of customization.